﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FizzBuzzUI</title>
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/assets/js/jquery.min.js" asp-append-version="true" ></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/Datatable/JS/jquery.dataTables.min.js"></script>
    <script src="~/Datatable/JS/dataTables.buttons.js"></script>
    <link href="~/Datatable/CSS/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Datatable/CSS/buttons.dataTables.min.css" rel="stylesheet" />
</head>
<body>    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    
</body>
</html>
