/*!*  Font Awesome 4.7.0 customize by own)*/

@font-face 
{
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
        url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa 
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-user:before {content: "\f007";}

.fa-unlock-alt:before {content: "\f13e";}

.fa-pencil:before {content: "\f040";}
  
.fa-phone:before {content: "\f095";}

.fa-refresh:before {content: "\f021";}

.fa-envelope:before {content: "\f0e0";}

.fa-building-o:before{content: "\f0f7";}

.fa-university:before{content: "\f19c";}

.fa-home:before{content: "\f015";}

.fa-phone-square:before{content: "\f098";}

.fa-eye:before{content: "\f06e";}

.fa-eye-slash:before{content: "\f070";}

.fa-key:before {
    content: "\f084"
}