
*
{
  padding:0;
  margin:0 auto;
}



body
{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  height: 100vh;
  background: #f2f2f2;
}
.error-page-container {
    /* background-color: #fff; */
    text-align: center;
    margin: 0px auto;
}
.btn.btn-info.bckhome {
    background: linear-gradient( 45deg, #0055eb, #52d2bb);
    box-shadow: 1px 2px 3px #848484;
    border:none;
}
















