
/*header*/
.default-bg {background-color: #09b4b7;}

span.mr-2.d-none.d-lg-inline{color: #fff;font-weight: 500;}

.logoutBtn {background: #f6145a;}

.fas.fa-power-off {color: #fff;}

.log-togl {color: #ffffff;}

.notify .point {background-color: #e71818;}



/*left pannel*/
.sidebar .nav-item.active .nav-link {background-color: #09b4b7;color: #fff;}

.sidebar .nav-item.active .nav-link:hover {background-color: #11cab9;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {color: #09b4b7;font-weight: 800;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover{color: #09b4b7;}


/*theme button*/

.customizer .service-panel-toggle { background: #09b4b7;}

i.fa.fa-spin.fa-cog {color: #fff;}



/*datepicker*/
.input-group-text { background-color: #09b4b7; border: 1px solid #09b4b7;border-radius: .25rem; color:#fff;}



/*tab*/
.maintab .nav-link {background-color: rgb(243 240 240 / 0%);color: rgb(9 180 183);}



/*pagination*/
.pagination .page-item.active .page-link {color: #09b4b7;-webkit-box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%), 0 0px 0px 0 rgb(0 0 0 / 0%);-webkit-transition: all 0.2s linear;background-color: transparent;font-weight: 700;}

.pagination .page-item.active .page-link:hover{background-color: #09b4b70d;}




/*left pannel icon shadow while hover and nav links*/
.sidebar .nav-item .nav-link:hover .icon-fxt {box-shadow: 1px 1px 14px #09b4b785;}

.sidebar .nav-item .nav-link:hover { background: rgb(218 214 214 / 12%);}

.nav-link[aria-expanded="true"] {background: rgb(9 180 183 / 5%);}  

.sidebar .nav-item .collapse { background: rgb(255 255 255);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active:before {color: #09b4b7;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:before {color: #09b4b7;}

.sidebar .nav-item .collapse .collapse-inner::before {border-left: 1px solid #09b4b7;color: #09b4b7;}