
/*header*/
.default-bg {background-color: #1e263a;}

span.mr-2.d-none.d-lg-inline {color: #fff; font-weight: 500;}

.logoutBtn {background: #f6145a;}

.fas.fa-power-off {color: #fff;}

.log-togl {color: #ffffff;}

.notify .point {background-color: #f00606;}



/*left pannel*/

.sidebar .nav-item.active .nav-link {background-color: rgb(17 17 18);color: #ffffff;}

.sidebar .nav-item.active .nav-link:hover {background-color: rgb(89 93 102 / 67%);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {color: #1e263a;font-weight: 800;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {color: #121264;}




/*theme button*/
.customizer .service-panel-toggle { background: #1e263a;}

i.fa.fa-spin.fa-cog {color: #fff;}
      

/*datepicker*/
.input-group-text  {background-color: #1e263a; border: 1px solid #1e263a;color: #fff;}


/*tab*/
.maintab .nav-link {background-color: rgb(243 240 240 / 0%); color: rgb(30 38 58);}


/*pagination*/
.pagination .page-item.active .page-link {color: #1e263a;-webkit-box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%), 0 0px 0px 0 rgb(0 0 0 / 0%);-webkit-transition: all 0.2s linear;background-color: transparent;font-weight: 700;}

.pagination .page-item.active .page-link:hover {background-color: #1e263a0d;}



/*left pannel icon shadow while hover and nav links*/
.sidebar .nav-item .nav-link:hover .icon-fxt {box-shadow: 1px 1px 14px rgb(30 38 58 / 50%);}

.sidebar .nav-item .nav-link:hover { background: rgb(218 214 214 / 12%);}

.nav-link[aria-expanded="true"] { background: rgb(199 201 207 / 15%);}

.sidebar .nav-item .collapse { background: rgb(255 255 255);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active:before {color: #000;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:before {color: #1e263a;}

.sidebar .nav-item .collapse .collapse-inner::before {border-left: 1px solid #1e263a;color: #1e263a;}