
/*header*/
.default-bg {background-color: #4fa0ca;}

span.mr-2.d-none.d-lg-inline {color: #ffffff;font-weight: 500;}

.logoutBtn {background: #f6145a;}

.fas.fa-power-off {color: #fff;}

.log-togl {color: #ffffff;}

.notify .point {background-color: #e5192b;}




/*left pannel*/
.sidebar .nav-item.active .nav-link {background-color:rgb(11 113 168);color: #ffffff;}

.sidebar .nav-item.active .nav-link:hover {background-color: #0c98e1;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {color: #4fa0ca;font-weight: 800;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {color: #0b71a8;}



/*theme button*/

.customizer .service-panel-toggle { background: #4fa0ca;}

i.fa.fa-spin.fa-cog {color: #fff;}



/*datepicker*/
.input-group-text  {background-color:#4fa0ca;border: 1px solid #4fa0ca;color: #fff;}



/*tab*/
.maintab .nav-link {background-color: rgb(243 240 240 / 0%);color: #4fa0ca;}




/*pagination*/
.pagination .page-item.active .page-link {color: #4fa0ca;-webkit-box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%), 0 0px 0px 0 rgb(0 0 0 / 0%);-webkit-transition: all 0.2s linear;background-color: transparent;font-weight: 700;}

.pagination .page-item.active .page-link:hover{background-color: #4285f417;}



/*left pannel icon shadow while hover and nav links*/
.sidebar .nav-item .nav-link:hover .icon-fxt {box-shadow: 1px 1px 14px rgb(79 160 202);}

.sidebar .nav-item .nav-link:hover { background: rgb(218 214 214 / 12%);}

.nav-link[aria-expanded="true"] {background: rgb(153 208 236 / 14%);}

.sidebar .nav-item .collapse { background: rgb(255 255 255);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active:before {color: #4fa0ca;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:before {color: #4fa0ca;}

.sidebar .nav-item .collapse .collapse-inner::before { border-left: 1px solid #4fa0ca;color: #4fa0ca;}



       
