
/*header*/
.default-bg {background-color: #f6145a;}

.log-togl {color: #ffffff;}

.notify .point {background-color: #434348;}

 span.mr-2.d-none.d-lg-inline {color: #ffffff;font-weight: 500;}

.logoutBtn {background: #ffffff;}

.fas.fa-power-off {color: #f6145a;}



/*left pannel*/
.sidebar .nav-item.active .nav-link {background-color: #c90d47;color: #ffffff;}

.sidebar .nav-item.active .nav-link:hover {background-color: rgb(209 90 124 / 97%);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {color: #f6145a;font-weight: 800;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {color: #ac1644;}



/*theme button*/
.customizer .service-panel-toggle { background: #f6145a;}

i.fa.fa-spin.fa-cog {color: #fff;}



/*datepicker*/
.input-group-text  {background-color: #f6145a;border: 1px solid #f6145a;color: #fff;}



/*tab*/
.maintab .nav-link {background-color: rgb(243 240 240 / 0%);color: rgb(246 20 90);}



/*pagination*/
.pagination .page-item.active .page-link {color: #f6145a; -webkit-box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%), 0 0px 0px 0 rgb(0 0 0 / 0%); -webkit-transition: all 0.2s linear;background-color: transparent;font-weight: 700;}

.pagination .page-item.active .page-link:hover { background-color: #ff505012;}



/*left pannel icon shadow while hover and nav links*/
.sidebar .nav-item .nav-link:hover .icon-fxt {box-shadow: 1px 1px 14px rgb(246 20 90);}

.sidebar .nav-item .nav-link:hover { background: rgb(218 214 214 / 12%);}

.nav-link[aria-expanded="true"] { background: rgb(234 187 202 / 42%);}

.sidebar .nav-item .collapse { background: rgb(255 255 255);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active:before {color: #f6145a;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:before {color: #f6145a;}

.sidebar .nav-item .collapse .collapse-inner::before {border-left: 1px solid #f6145a;color: #f6145a;}