
/*header*/
.default-bg {background-color:#ffb22b;}

span.mr-2.d-none.d-lg-inline {color: #fff;font-weight: 500;}

.notify .point {background-color: #434348;}

.logoutBtn {background: #fff;}
    
.fas.fa-power-off {color: #ff5050;}

.log-togl {color: #fff;}


/*left pannel*/

.sidebar .nav-item.active .nav-link { background-color: #f3a419;color: #ffffff;}

.sidebar .nav-item.active .nav-link:hover {background-color: rgb(207 148 46);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active { color: #ffb22b;font-weight: 800;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {    color: #FF9800;}


/*theme button*/
.customizer .service-panel-toggle { background:#ffb22b;}

i.fa.fa-spin.fa-cog {color: #fff;}


/*datepicker*/
.input-group-text {background-color: #ffb22b;border: 1px solid #ffb22b;border-radius: .25rem;color: #fff;}


/*tab*/
.maintab .nav-link {background-color: rgb(243 240 240 / 0%);color: #ffb22b;}



/*pagination*/
.pagination .page-item.active .page-link { color: #ff5050;-webkit-box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%), 0 0px 0px 0 rgb(0 0 0 / 0%);-webkit-transition: all 0.2s linear;background-color: transparent;font-weight: 700;}

.pagination .page-item.active .page-link:hover {background-color: #ff505012;}



/*left pannel icon shadow while hover and nav links*/
.sidebar .nav-item .nav-link:hover .icon-fxt {box-shadow: 1px 1px 14px #ffb22be6;}

.sidebar .nav-item .nav-link:hover { background: rgb(218 214 214 / 12%);}

.nav-link[aria-expanded="true"] {background:rgb(250 218 162 / 12%);}

.sidebar .nav-item .collapse {background: rgb(255 255 255);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active:before {color: #ffb22b;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:before { color: #ff5050;}

.sidebar .nav-item .collapse .collapse-inner::before {border-left: 1px solid #ffb22b;
    color: #ffb22b;}