
/*header*/
.default-bg {background-color: #7460ee;}

span.mr-2.d-none.d-lg-inline {color: #ffffff;font-weight: 500;}

.log-togl {color: #ffffff;}

.notify .point {background-color: #e5192b;}

.logoutBtn {background: #ffffff;}

.fas.fa-power-off {color: #f6145a;}


/*left pannel*/
.sidebar .nav-item.active .nav-link {background-color: #483a9f;color: #ffffff;}

.sidebar .nav-item.active .nav-link:hover {background-color: rgb(78 65 161);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {color: #7460ee;font-weight: 800;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {color: #7460ee;}


/*theme button*/
.customizer .service-panel-toggle { background: #7460ee;}

i.fa.fa-spin.fa-cog {color: #fff;}


/*datepicker*/
.input-group-text  {background-color: #7460ee;border: 1px solid #7460ee;color: #fff;}


/*tab*/
.maintab .nav-link {background-color: rgb(243 240 240 / 0%); color: rgb(116 96 238);}



/*pagination*/
.pagination .page-item.active .page-link { color: #4f1385;-webkit-box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%), 0 0px 0px 0 rgb(0 0 0 / 0%);-webkit-transition: all 0.2s linear;background-color: transparent; font-weight: 700;}

.pagination .page-item.active .page-link:hover {background-color: #4f13850d;}



/*left pannel icon shadow while hover and nav links*/
.sidebar .nav-item .nav-link:hover .icon-fxt {box-shadow: 1px 1px 14px rgb(79 19 133);}

.sidebar .nav-item .nav-link:hover { background: rgb(218 214 214 / 12%);}

.nav-link[aria-expanded="true"] { background: rgb(196 164 225 / 14%);}

.sidebar .nav-item .collapse { background: rgb(255 255 255);}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active:before{color: #4f1385;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:before {color: #4f1385;}

.sidebar .nav-item .collapse .collapse-inner::before {border-left: 1px solid #4f1385; color: #f6145a; }