
*
{
padding:0;
margin:0;
}



body
{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 16px;
font-weight: 400;
line-height: 1.5;
color: #212529;
}

.webheader > .container-fluid {
width: 90%;
transition: .2s;
}
.webheader-fixed {
border-top: 3px solid #ffc22f;
}
.webheader-fixed .logo img {
width: 31%;
}
.webheader-fixed .navbar {padding: 0 58px;}
.logo{text-decoration:none!important;}
.logo h1 {
font-size: 1.7rem;
margin: 11px;
font-weight: bolder;
color: #003997;
}
.navBtn {
box-shadow: 0.2em 0.2em #e6b6ba;
}
   
.webbanner #carouselExampleControls .carousel-inner .carousel-item img {
height: 436px;
width: 100%;
object-fit: cover;
}
.webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption {
top: 158px;
bottom: auto;
left: -4rem;
background: rgba(51, 51, 51, 0);
width: 39%;
margin: auto;
text-align: left;
text-shadow: none;
}

.webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption h1 {
font-family: 'Conv_Anton-Regular',Sans-Serif;
}

    .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption h6 {
        font-weight: bold;
        color: #ffc22f;
        text-shadow: 1px 2px 3px #000;
        font-size: 2.2rem;
    }

    .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
    }

.carousel-control-prev-icon {
background-image: url(../../assets/img/left-arrow.png) !important;
position: relative;
}

.carousel-control-prev-icon::after {
content: "";
position: absolute;
border: 1px solid #ccc;
border-radius: 100%;
width: 31px;
top: -5px;
left: -5px;
padding: 4px;
height: 31px;
}
.carousel-control-next-icon::after {
content: "";
position: absolute;
border: 1px solid #ccc;
border-radius: 100%;
width: 31px;
top: -5px;
right: -5px;
padding: 4px;
height: 31px;
}
.carousel-control-next-icon {
background-image: url(../../assets/img/right-arrow.png) !important;
position: relative;
}



.registation-pos {
background: #fec12f;
position: absolute;
border-radius: 3px;
padding: 23px;
left:0;
top: -140px;
width: 100%;
}
.webfeatures .featurebox .fb-left {
width: 30%;
margin-right: 0px;
}
.webfeatures .featurebox .fb-right {
width: 68%;
}
.registation-bg h3 {
font-size: 1.1rem;
color: #353433;
font-weight: 700;
margin: 15px 27px;
}
.registation-bg svg{fill:#fff!important;}
.registation-status {
margin-bottom: 73px;
position:relative;
}



.about-us {
    background: linear-gradient(to right, #113253 0%, #4189dd 100%);
padding: 26px 0;
}
.hdstyle1 {
position: relative;
font-size: 2em;
font-weight: 600;
color: #b8d0ef;
margin-bottom: 37px;
}

    .hdstyle1:before {
        width: 66px;
        height: 4px;
        display: block;
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        background: linear-gradient(to right, #ffc22f 0%, #ce9712 100%);
        margin-left: 4px;        
        z-index: 1;
    }
    .hdstyle1:after {
        width: 100px;
        height: 2px;
        display: block;
        content: "";
        position: relative;
        margin-top: 11px;
        left: 6%;
        margin-left: -29px;
        background: #e2dfdf;
        z-index: 0;
    }
    .partners{background: linear-gradient(to right, #113253 0%, #4189dd 100%);
        /*padding: 14px 0;*/}
    .hdstyle2 {
        position: relative;
        font-size: 2em;
        font-weight: 600;
        color:#05417c;
        margin-bottom: 37px;
        }
        .hdstyle3 {
            position: relative;
            font-size: 1.4rem;
            font-weight: 600;
            color: #05417c;
            margin-bottom: 37px;
            }
            .hdstyle3:before {
                width: 66px;
                height: 4px;
                display: block;
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                background: linear-gradient(to right, #ffc22f 0%, #ce9712 100%);
                margin-left: 4px;
                z-index: 1;
            }
            .hdstyle3:after {
                width: 81px;
                height: 2px;
                display: block;
                content: "";
                position: relative;
                margin-top: 7px;
                left: 2%;
                margin-left: -17px;
                background: #e2dfdf;
                z-index: 0;
            }
            
            .signup-form-container {
                background: #fff;
                padding: 30px 20px;
                position: relative;
                width: 73%;
                margin: 40px auto;
                border-radius: 6px;
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
            }
            .form-heading {
                margin-top: -70px;
                padding: 10px;
                background: #235cb9;
                margin-bottom: 34px;
                border-radius: 3px;
                box-shadow: 0 16px 38px -27px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
            }
            .form-heading .title{color: #fff;}
            .chart-title {
                color: #003997;
                  letter-spacing: 1px;
                  margin-bottom: 0px;
                  background: #f8f9fc;
                  font-size: 18px;
                  font-weight: 500;
                  padding: 5px 19px;
                  border-bottom: 1px solid #f3f1f1;
              }
              .chart-section{border: 1px solid #eceaea;box-shadow: 1px 2px 6px #d2d2d2;}
.chart-section .highcharts-label.highcharts-data-label.highcharts-data-label-color-0{display: block;}
            .title{
                color: #05417c;
                letter-spacing: 1px;
                font-size: 18px;
            }
            .partners a img{width: 228px;}
        .banner-section{background: url(../../assets/img/banner.jpg);
            height: 228px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;}
            .border3-left-primary{border-left: .25rem solid #ffc22f!important}
        .partners a{text-decoration: none;color: #fff;margin-left: 89px;}
        .partners a h2{margin-left: 10px;
            font-size: 1.6rem;
            text-shadow: 1px 2px 3px #000;
            line-height: 4.2rem;margin-bottom: 0;}
        .partners a:hover{color: #ffc22f;}
        .inner-content{border: 1px solid #ececec;
            padding: 20px 0;}
            .hdstyle2:before {
                width: 66px;
                height: 4px;
                display: block;
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                background: linear-gradient(to right, #ffc22f 0%, #ce9712 100%);
                margin-left: 4px;        
                z-index: 1;
            }
            .hdstyle2:after {
                width: 81px;
                height: 2px;
                display: block;
                content: "";
                position: relative;
                margin-top: 7px;
                left: 2%;
                margin-left: -17px;
                background: #e2dfdf;
                z-index: 0;
            }
           
           
            .totalbody-left{width: 30%;
                margin-right: 0px;
                height: 100%;
                position: relative;
                z-index: 55;margin-top: 7px;}
            .totalbody-right{
                width: 68%;
                text-align: right;
            }
            .totalbody-right svg{width: 36px;}
            .register-icon{fill: #63d1f3;}
            .qr-icon{fill: #f96d6d;}
            .total-icon{fill: #ffc22f;}
            .total-title h5{
                color: rgb(161 160 174);
                font-weight: 400;
                font-size: 1.1rem;
            }
           .total-body  #doublebargraph  .highcharts-title{
                display: none;
              }
              .total-body .highcharts-button-symbol{
                display: none;
              }
              .highcharts-credits{
                display: none;
              }
              .highcharts-plot-band {display: none;}
              .total-body .highcharts-axis-labels.highcharts-yaxis-labels{
                display: none;
              }
              .total-body .highcharts-grid-line{
                display: none;
              }
              .total-body .highcharts-axis.highcharts-xaxis{
                display: none;
              }
              .highcharts-label.highcharts-data-label.highcharts-data-label-color-0{display: none;}
              .total-body .totalbody-right #export{margin-top: -36px;}
              .highcharts-button-box{display: none;}
              .highcharts-button.highcharts-contextbutton{display: none;}
            .total-body{display: flex;}
            .totals{padding: 26px 0;}
            .highcharts-legend-box{position: absolute;top:10000px!important;}
            .navbar-light .navbar-nav .nav-link {
                color: rgba(0,0,0,.5);
                font-weight: 500;
                font-size: 0.9rem;
            }
            .total-card{position: relative;
                display: flex;
                flex-direction: column;
                padding: 9px;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid #e3e6f0;
                border-radius: .35rem;}
                .border1-left-primary {
                    border-left: .25rem solid #63d1f3!important;
                }
                .border2-left-primary {
                    border-left: .25rem solid #b0aef9!important;
                }
                .border2-left-primary {
                    border-left: .25rem solid #f96d6d!important;
                }
            .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
                color: rgb(0 57 151);
                font-weight: 700;
                position: relative;
            }
            .navbar-light .navbar-nav .active>.nav-link:after{
                position: absolute;
                bottom: -7px;
                left: 50%;
                color: #ffc22f;
                content: '...';
                text-shadow: 0 0 transparent;
                font-size: 1.2em;
                -webkit-transition: text-shadow 0.3s, color 0.3s;
                -moz-transition: text-shadow 0.3s, color 0.3s;
                transition: text-shadow 0.3s, color 0.3s;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                transform: translateX(-50%);
                pointer-events: none;
            }
                 .navbar-light .navbar-nav .nav-link:hover{position: relative;}
                 .navbar-light .navbar-nav .nav-link:hover:after{
                    position: absolute;
                    bottom: -7px;
                    left: 50%;
                    color: #ffc22f;
                    content: '...';
                    text-shadow: 0 0 transparent;
                    font-size: 1.2em;
                    -webkit-transition: text-shadow 0.3s, color 0.3s;
                    -moz-transition: text-shadow 0.3s, color 0.3s;
                    transition: text-shadow 0.3s, color 0.3s;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    transform: translateX(-50%);
                    pointer-events: none;
                }
                .banner-section h4{color: #fff;
                    padding-top: 79px;
                    font-size: 2rem;}
                .banner-section ul{display: flex;list-style-type: none; margin: 0px;
                    padding: 0px;color: #fabf19;}
                    .banner-section ul li a{color: #fabf19;}
                .banner-section ul li:first-child {
                    padding-left: 0px;
                    padding-right: 5px;
                    font-size: 16px;
                }
                .banner-section ul li{padding-left: 5px;    color: #fff;}
                ::marker {
                    color: transparent;
                    font-size: 1.2em;
                  }
.features .featurebox:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.about-us p {
    line-height: 24px;
    color: #fff;
}
.webabt-img {
    margin-top:0;
    max-width: 100%;
    width: 79%;
}


.features {
    background: #f5f5f5a1;
    padding: 26px 0;
}


 .featurebox {
    display: block;
    transition: .3s;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    border-radius: 8px;
    height: 324px;
    overflow: hidden;
    background-color: #f3f3f3;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.gradient-border{
    position: relative;
    padding: 2px;
}
.features .featurebox a {
position: absolute;
display: block;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 56;
}


.features .featurebox .fb-left,
.features .featurebox .fb-right {
display: inline-block;
vertical-align: top;
}

.features .featurebox .fb-left {
width: 30%;
margin-right: 0px;
height: 100%;
background: #f5f5f5;
text-align: center;
position: relative;
z-index: 55;
}

.features .featurebox .fb-left img {
filter: invert(0);
transition: .2s;
position: absolute;
top: 0;
left: 0;
width: 82%;
right: 0;
bottom: 0;
margin: auto;
}

.features .featurebox .fb-left label {
color: #fff;
transition: .2s;
display: block;
position: absolute;
left: 0;
right: 0;
bottom: 0;
text-align: right;
padding: 0 20px;
font-size: 1.5em;
opacity: 0;
transition: .2s;
margin-bottom: 0;
}

.features .featurebox .fb-left label > i {
transition: .5s;
transform: translatex(50px);
}

.features .featurebox .fb-left:after {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
content: '';
background: #8c334d;
transition: .4s;
transform: scalex(0);
transform-origin: left;
opacity: 0;
z-index: -1;
}

.features .featurebox:hover .fb-left:after, .features .featurebox.active .fb-left:after {
transform: scalex(1);
opacity: 1;
}

.features .featurebox:hover .fb-left img, .features .featurebox.active .fb-left img {
filter: invert(1);
}

.features .featurebox:hover .fb-left label, .features .featurebox.active .fb-left label {
opacity: 1;
}

.features .featurebox:hover .fb-left label > i, .features .featurebox.active .fb-left label > i {
transform: translatex(5px)
}

       

.features .featurebox .fb-right h3 {
color: #a52a2a;
font-size: 1.1em;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 30px;
}
.dark-blue{background-color: rgb(17 50 83);}
.light-blue{background-color: #4189dd;}
    .Statical-title h3 {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 19px 0;
        color: #113253;
    }
    .border-bottom2 {
        border-bottom: 1px solid #e2e2e2!important;
    }
.Statical-title span svg{
width: 38px;
}
.navBtn svg {
    width: 17px;
}
.Statical-body ul {
    text-align: center;
    list-style: none;
}
.Statical-body ul li {
position: relative;
padding: 11px 0;
}
.Statical-body {
    padding: 2px 6px;
    font-size: 15px;
}
    .Statical-body ul li h1 {
        color: #9d171c;
    }
    .border-bottom {
        border-bottom: 1px solid #e2e2e2!important;
    }

.Statical-body ul li small{
color: #8c8989;
}
.Statical-body ul li h4 {
    color: #92171b;
    font-weight: 700;
}
.Statical-body ul li:after:last-child {
    background: transparent;
}
.Statical-body ul li p {
    margin: 6px 0 10px;
    color: #020202;
}
.features .featurebox .fb-right p {
    line-height: 1.5em;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3em;
}

.features .row {
position: relative
}

.features .row .resultbox {
background: #fff;
position: absolute;
top: 0;
left: 0;
right: 0;
margin: auto;
height: 100%;
width: 98%;
z-index: 99;
transform: scale(0);
opacity: 0;
transition: .5s;
box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
transform-origin: center;
user-select: none;
border: 2px solid #afafaf;
border-top: 0;
}
.card-1 {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
    min-height: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    z-index: 1;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    transition: box-shadow 0.35s cubic-bezier(0.4, 0, 1, 1);
}
.card.active{background: rgb(65 137 221);}
.card-1:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card__primary__title__text {
    display: flex;
    font-size: 17px;
    line-height: normal;
    color: #505152;
    margin: 0;
    font-weight: 500;
}
.card__primary__title__subtext {
    margin-bottom: 4px;
    font-size: 14px;
    margin-left: -67px;
    line-height: 1;
}
.card-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    flex: 0 0 100%;
    padding:0;
}
.list__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    padding: 12px 16px;
}
.list__item__text{margin-left: 1rem;}
.list__item__avatar {
    position: relative;
    width: 19px;
    height: 19px;
    left: 0;
    top: 2px;
}
.list__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    padding: 12px 16px;
}
.card__primary__title {
    padding: 7px 16px 7px;
    width: 100%;
    background: #f3f3f3;
}
.features .row .resultbox.active {
transform: scale(1);
opacity: 1;
}

.features .row .resultbox .rb-header {
padding: 10px 15px;
border-bottom: 1px solid #e6e6e6;
background: #d4d4d4;
color: #333;
}

.features .row .resultbox .rb-header .closeResult i {
font-size: 1.5em;
color: #333;
}

.features .row .resultbox .rb-body {
padding: 30px 15px;
text-align: center;
}

.features .row .resultbox .rb-body .fb-left {
display: inline-block;
margin: auto;
background: #733648;
padding: 20px;
margin-bottom: 15px;
border-radius: 100px;
width: 75px;
height: 75px;
}

.features .row .resultbox .rb-body .fb-left img {
filter: invert(1);
}

.features .row .resultbox .rb-body .fb-left label, .features .row .resultbox .rb-body a {
display: none;
}
.features .row .resultbox .rb-body .fb-right h3 {
margin-bottom: 15px
}

.features .row .resultbox .rb-body .fb-right p {
font-size: 1.2em
}


footer {padding: 16px 0 12px;background: #11375d;/* border-top: 1px solid #ccc; */}
footer p {
margin-bottom: 0;
font-size: .9rem;
color: #fff;
}
.border-style2 {border-top: 1px solid #b3b3b3;}
footer img {
width: 7%;
}
footer h6 {
font-size: 1.2rem;
font-weight: 500;
}
footer small {color: #000!important;}

.submitBtn{
    background: linear-gradient(45deg, #163c62, #3f85d7);
            border: none;
            padding: 6px 40px;
            color: #fff;
            letter-spacing: 1px;
}
.submitBtn:hover{box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);color: #fff;}
.legendBox ul{
    display: flex;
    justify-content: flex-end;
}

.legendBox ul li{
    position: relative;
    margin-right: 22px;
}

.legendBox ul li:first-child span:first-child{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    border-radius: 2px;
    background: #c5c4ff;
}

.flexCss{flex-grow: 1;}

.termTag{
    cursor: pointer;
    color: #1b4671!Important;
    margin-left: 10px;
    font-weight: 600;
}

.badgeNumber{
    flex-grow: 1;
}

.badgeNumber span{
    color: white;
    padding: 2px 15px;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 4px;
    text-shadow: 1px 2px 3px #000;
}

.badgeNumber .navy{
    background: #19416a;
}

.badgeNumber .green{
    background: #147d2c;
}

.badgeNumber .red{
    background: #dc3545;
}

.termTag:hover{color: rgb(116, 0, 0);}

.navbar-expand-lg .navbar-collapse{
    flex-flow: column;
}

.navbar-expand-lg .navbar-collapse li{
    padding: 0px 30px;
}

.legendBox ul li:last-child span:first-child{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    border-radius: 2px;
    background: #82e2ff;
}

.legendBox ul li span:last-child{
    margin-left: 18px;
    color: grey;
}



/*****Household Growth Chart CSS Begins*****/
#household-growth .highcharts-point.highcharts-color-0 {
    /* fill: #c3c3c3;
    stroke: #cacaca; */
    
}

#household-growth .highcharts-point.highcharts-color-1 {
    /* fill: rgb(0 86 171);
    stroke: rgb(0 86 171)!important; */
    
}

#household-growth .highcharts-point.highcharts-color-2 {
    /* fill: #2196f3;
    stroke: #2196f3!important; */
    
}

#household-growth .highcharts-xaxis-labels text{
    /* text-anchor: end!important; */
}

#household-growth .highcharts-title{
    display: none;
}

#household-growth .highcharts-color-0 rect{
    /* fill: #bbbbbb; */
}

#household-growth .highcharts-color-1 rect{
    /* fill: #0056ab; */
    fill: rgb(242,148,35);
}

#household-growth .highcharts-color-2 rect{
    /* fill: #2196f3; */
}

/*****Household Growth Chart CSS Ends*****/
@media (max-width: 1024px) {
    .webabt-img {
        width: 100%;
    }

    .hdstyle1:before {
        margin-left: 0px;
    }
    .logo h1 {
        margin: 33px 11px;
    }
    .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption h6 {
        font-size: 1.9rem;
    }
    .webheader-fixed .logo img {
        width: 61px;
    }
}
@media (max-width: 992px) {
    .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption {
        width: 42%;
    }
}
@media (max-width: 768px) {
    .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption {
        width: 52%;
    }
    .hdstyle1:after {
        left: 10%;
    }
    .hdstyle1:before {
        left: 4px;
    }
    .webabt-img {
        margin-bottom: 3rem;
    }

    .features .featurebox {
        height: 357px;
        margin-bottom: 17px;
    }
    .Statical-body {
        font-size: 13px;
    }
        .Statical-body ul li h4 {
            font-size: 1.4rem;
        }
    .about-us p {
        line-height: 27px;
        font-size: 20px;
        text-align: justify;
    }
    .Statical-body ul li p {
        font-size: 20px;
    }
    }

@media (max-width: 630px) {
    .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption {
        width: 67%;
        left: 4rem;
    }
}
@media (max-width: 576px) {
    .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption h6 {
        font-size: 1.8rem;
    }
    .webheader-fixed .row {
        flex-wrap: inherit;
    }
}
@media (max-width: 480px) {
    .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption h6 {
        font-size: 1.7rem;
    }
        .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption
{
    width: 74%;
    left: 4rem;
}
.webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption h6 {
                font-size: 1.4rem;
 }
}

@media (max-width: 430px) {
    .webbanner #carouselExampleControls .carousel-inner .carousel-item .carousel-caption h6 {
        font-size: 1.4rem;
    }
}
@media (max-width: 320px) {
    .webheader-fixed .logo img {
        width: 70%;
    }
    .hdstyle1 {
        font-size: 1.8em;
    }
    .Statical-body ul li p {
        font-size: 18px;
    }
    .about-us p {
        font-size: 18px;
    }
}







