
*
{
  padding:0;
  margin:0;
}



body
{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.loaded.fxt-template-animation {
    opacity: 1;
}

.fxt-template-layout4:before {
    position: absolute;
    z-index: 0;
    /* background-color: #01cc66; */
    background:linear-gradient(45deg, #840916, #ff756b);
    content: "";
    min-height: 100%;
    width: 35vw;
    top: 0;
    left: 0;
}

.fxt-template-layout4 {
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.fxt-template-layout4 .fxt-bg-wrap {
    padding: 8vh 0 8vh 16vw;
    min-height: 100vh;
}

.fxt-template-layout4 .fxt-bg-img {
    padding: 50px 50px;
    min-height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-image: url(../../assets/img/leftbg.jpg);
}



.fxt-template-layout4 .fxt-header {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: center;
    text-align: center;
}



.fxt-template-layout4 .fxt-header .fxt-logo {
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
}


.fxt-template-layout4 .fxt-bg-color {
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 45px;
   

}

.fxt-template-layout4 .fxt-content {
    padding: 30px;
    max-width: 460px;
    width: 100%;
}

.fxt-template-layout4 .fxt-form {
    margin-top: 20px;
}




.fxt-template-layout4 .fxt-checkbox-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fxt-template-layout4 .fxt-btn-fill {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 3px;
    /* background-color: #ff8500; */
    background: linear-gradient(45deg, #ad1b21, #ff1820);
    box-shadow: 1px 2px 3px #848484;
    padding: 10px 36px;
   text-decoration: none;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

 h1.bms-title{color: #fff;text-shadow: 1px 1px 4px #000;}
 
 .fxt-logo {
    display: flex;
    justify-content: center;
}

.fogotpsd{
    color: grey;
    text-decoration: none;
}

.fogotpsd:hover{
    color:#ad1b21 ;
    text-decoration: none;
}

.backtologin{
    color: grey;
    text-decoration: none;
}

.backtologin:hover{
    color:#ad1b21 ;
    text-decoration: none;
}

.fxt-logo img
{
    height:100px;
}

.pswdeye{
    position: absolute;
    top: 32px;
    right: 10px;
    color: #003997;
    cursor: pointer;
}


.captcha-img
{
    width:103px;
    height:35px;
 }

 .registerBtn{
    margin-top: 1rem;
}

.registerBtn a{
    color: #b61b21;
    text-decoration-line: underline;
}
 
 .fa-refresh
 {
    cursor: pointer;
    padding: .6rem;
    font-size: 1.2rem;
    /* color: rgb(2 15 55); */
    color: rgb(201 32 37);
     }
     
     .fa.fa-refresh:hover {
    /* color: #28b277; */
    color: #ad1b21;
}



/*Materlize design css start here*/
.mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #524f4f;
  transition: all 0.5s;
  margin-left: 1.5rem;
}

.mat-input {
  position: relative;
  background: transparent;
 /* width: 100%;*/
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
  margin-left: 1.5rem;
}

.mat-div {
  position: relative;
}
.mat-div .prefix {
    position: absolute;
    font-size: 1.2rem;
    left: 0px;
    top: 30px;
    /* color: rgb(0 0 0 / 70%); */
    color: rgb(182 29 34);
  
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2; 
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: rgb(16 150 99);
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: rgb(16 150 99);
}

.is-completed .mat-label {
  /*font-size: 12px;*/
  transform: translateY(0);
}

/*Materlize design css end here*/



.captcha-sec {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
}

.margin-bottom-2
{
    margin-bottom:2rem;
}


.input-group-text {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-align: center;
    /* align-items: center; */
    /* padding: .375rem .75rem; */
    /* margin-bottom: 0; */
    /* font-size: 1rem; */
    /* font-weight: 400; */
    /* line-height: 1.5; */
    /* color: #495057; */
    /* text-align: center; */
    /* white-space: nowrap; */
    /* background-color: #e9ecef; */
    /* border: 1px solid #ced4da; */
    /* border-radius: .25rem; */
}

.input-group-text{
    float: right;
    margin-top: 32px;
    /* position: absolute; */
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.input-group-text i{
    color: #c50010;
}

.mat-input#password{
    width: 80%;
}

.fxt-backlogin {
    display: flex;
    justify-content: flex-end;
}

h6.title {
    text-align: center;
    display:none;
}



@media only screen and (max-width: 1440px) 
{
  .fxt-template-layout4 .fxt-bg-wrap {padding: 11vh 0 11vh 16vw;}

  .fxt-template-layout4:before {width: 40vw;}
}

@media only screen and (max-width: 1366px) {
    .fxt-template-layout4 .fxt-bg-img {
        padding: 10px 10px;
    }

    .fxt-template-layout4 .fxt-content {
        padding: 0 30px;
    }

    .fxt-template-layout4 .fxt-bg-color {
        padding: 24px 45px;
    }
    .form-group {
        margin-bottom: 0;
    }
    .fxt-template-layout4 .fxt-form {
        margin-top: 6px;
    }
    .fxt-template-layout4 .fxt-checkbox-area {
        margin: 13px 0;
    }
}


    @media only screen and (max-width: 1200px) {
        .fxt-template-layout4 .fxt-bg-wrap {padding: 11vh 0 11vh 7vw;}
}



@media only screen and (max-width: 1024px)
{
    .fxt-template-layout4 .fxt-bg-wrap {padding: 11vh 0 11vh 5vw;}
    .fxt-logo img {
        height: 90px;
    }
}


@media only screen and (max-width: 768px)
{
   .fxt-template-layout4 .fxt-bg-wrap {padding: 14vh 0 14vh 5vw;}

    .fxt-template-layout4 .fxt-bg-color {
        padding: 0px;
        min-height: auto;
        margin: 0 auto;
    }

    h1.bms-title {
        font-size: 2rem;
        color: #fff;
    }

    .fxt-template-layout4 .fxt-content {
        padding: 37px;
        margin: 78px 29px;
        max-width: 100%;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    }
    .mat-div .prefix {
        font-size: 1.1rem;
        top: 32px;
    }
    .mat-label {
        font-size: 19px;
    }
    .mat-div p {
        font-size: 18px;
    }
    .fxt-logo img {
        height: 94px;
    }
    h6.title {
        font-size: 1.9rem;
    }
    .fxt-template-layout4 .fxt-bg-img {
        background-image: none;
        min-height: auto;
        padding: 0 1px;
    }
    .fxt-template-layout4 .fxt-bg-wrap {
        padding: 3vh 0 3vh 0vw;
        min-height: auto;
        background: #9c171c;
    }
    .fxt-template-layout4:before {
        min-height: auto;
    }
    .input-group-text {
        font-size: 1.6rem;
    }
    .fa-refresh {
        font-size: 1.6rem;
    }
    .fxt-template-layout4 .fxt-checkbox-area {
        font-size: 1rem;
    }
    .fxt-template-layout4 .fxt-btn-fill {
        font-size: 24px;
        padding: 11px 36px;
    }
    .registerBtn a {
        font-size: 1.6rem;
    }
    }



@media only screen and (max-width: 640px)
{
    .fxt-template-layout4:before {width: 0vw;}

    .fxt-template-layout4 .fxt-content {max-width: 100%; width: 100%;box-shadow: 1px 1px 10px #c1baba;}

    .fxt-template-layout4 .fxt-bg-color {padding: 0px; min-height:0vh;}
    
    .fxt-template-layout4 .fxt-content {
    padding: 30px;
}

    h6.title {
        display: block;
        margin-top: .5rem;
        margin-bottom: 0rem;
        font-size: 1rem;
    }

    h1.bms-title {
        font-size: 1rem;
    }
    .mat-div p {
        font-size: 16px;
    }
}


@media only screen and (max-width: 480px)
{
    .fxt-template-layout4 .fxt-content {
        margin: 47px 19px;
    }
   
    }


@media only screen and (max-width: 425px)
{
    .fxt-template-layout4 .fxt-content { margin: 10px 10px;}
}

@media only screen and (max-width: 430px)
{
    .fxt-template-layout4 .fxt-content { margin: 10px 10px;}
}

@media only screen and (max-width: 375px)
{
     .fxt-template-layout4 .fxt-content {padding: 20px;}
    .mat-label {
        font-size: 14px;
    }

    .mat-div .prefix {
        font-size: 1rem;
        top: 29px;
    }

    .mat-div p {
        font-size: 13px;
    }

    .input-group-text {
        font-size: 1rem;
    }
    .fxt-template-layout4 .fxt-checkbox-area {
        font-size: 0.8rem;
    }
    .fxt-template-layout4 .fxt-btn-fill {
        font-size: 18px;
        padding: 10px 36px;
    }
    .registerBtn a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 320px)
{
    .fxt-template-layout4 .fxt-checkbox-area {font-size: 14px;}
    .mat-label {
        font-size: 14px;
    }
    .mat-div .prefix {
        font-size: 1rem;
        top: 29px;
    }
    .mat-div p {
        font-size: 13px;
    }
    .input-group-text {
        font-size: 1rem;
    }
   
}























