
*
{
  padding:0;
  margin:0;
}


.login-sec 
{
    position: relative;
}

.lock-img
{
  height: 85px;
}

.text-right
{
  float:right;
}



body
{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #06653d;
}

/*Materlize design css start here*/
.mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #524f4f;
  transition: all 0.5s;
  margin-left: 1.5rem;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
  margin-left: 1.5rem;
}

.mat-div {
  position: relative;
}
.mat-div .prefix {
    position: absolute;
    font-size: 1.2rem;
    left: 0px;
    top: 30px;
    color: rgb(0 0 0 / 70%);
  
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2; 
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: rgb(16 150 99);
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: rgb(16 150 99);
}

.is-completed .mat-label {
  /*font-size: 12px;*/
  transform: translateY(0);
}

/*Materlize design css end here*/



/*bootstrap css start*/
.form-control 
{
    display: block;
    width: 100%;
    padding: .375rem 0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #e2e2e2;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus 
{
    color: #495057;
    border-color: rgba(255, 255, 255, 0);
    outline: 0;
    border-bottom: 2px solid rgb(0 165 213);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.1);
}


.form-group {margin-bottom: 1rem;}


.text-grey{color:#656262;line-height: 40px;}

.btn-secondary 
{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.btn-success 
{
  color: #fff;
  background-color: #f97d2d;
  border-color: #f97d2d;
  width: 25%;
}

.btn-success:focus 
{
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(16 150 99 / 1%);
}

.btn-success:hover 
{
  color: #fff;
  background-color: #109663;
  border-color: #109663;  
}

.text-grey:hover{color:#127d54;}

.fa.fa-refresh 
{
   cursor: pointer;
    padding: .6rem;
    float: right;
    font-size: 1.2rem;
    color: rgb(2 15 55);
}

.fa.fa-refresh:hover 
{
 
  color: #28b277;
}



.login-body
{
  max-width: 500px;
  margin-top: 2%!important;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: 0 4px 1px rgb(0 0 0 / 27%), 0 10px 12px rgb(0 0 0 / 13%);

  
}


.tick 
{
  position: absolute;
  top: 18%;
  color: #ffffff;
  left: 62%;
  background-color: #fff;
  padding: 10px 12px;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 0 20px 20px 20px rgb(22 21 21 / 8%);
}

.tick img
{
  width: 25px;
  height: 27px;
}

.body__top
{
  display: flex;
  justify-content: center;
  padding: 0rem 0rem;
}


.logo-img{width: 200px;}

.bottom__content 
{
   padding: 1rem 2rem 2rem 2rem;
}

.title 
{
    color: #008b74;
    margin: 0;
    font-size:1.4rem;
     
    
}

.top-sec
{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
}



.top__content
{
  padding: 2rem;
}


.login-top 
{
  background-color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 
}

.top2-sec
{
  display: flex;
  justify-content: center;
}

.img-logo{height: 100px;}

.login-bottom
{
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top:2px solid #3aa481;  

}

.captcha-img 
{
  width: 105px;
  height: 33px;
}

.captcha-sec {
    margin-top: 2rem;
}



.button-sec
{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.d-none{display: none;}

.m-0{margin:0rem;}

.text-left{text-align: left;}

.text-center{text-align: center;}


@media only screen and (max-width: 1680px)
{
  .tick {left: 63%;}
}

@media only screen and (max-width: 1600px)
{
  .tick {left: 64%;}
}

@media only screen and (max-width: 1440px)
{
  .tick {left: 65%}
}

@media only screen and (max-width: 1366px)
{
  .tick {left: 67%;}
}

@media only screen and (max-width: 1200px)
{
 .tick {left: 68%;} 
}

@media only screen and (max-width: 1024px)
{
  .tick {left: 72%;}
}

@media only screen and (max-width: 768px)
{
  .tick {left: 79%;}

  .login-body {margin-bottom: 2%;margin-top: 2%!important;}
  
  .img-logo {height: 80px;}
}

@media only screen and (max-width: 640px)
{
  .tick{left: 84%;}

  .section-heading {font-size: 1.5rem;}

  .captcha-img {width: 88px;height: 24px;}
  
  .fa.fa-refresh {padding: .3rem;}
    
   body{background-color: transparent;}
    
  .login-body{box-shadow: 0 4px 17px rgb(0 0 0 / 6%), 0 13px 71px rgb(0 0 0 / 14%);}
    
  .lock-img {height: 60px;}

   .top-sec {margin-bottom: 1rem;}
    
}

@media only screen and (max-width: 600px)
{
  .tick {left: 86%;}
}


@media only screen and (max-width: 576px)
{
 
.tick {left: 75%;top: 24%;}

.tick img {width: 20px;height: 20px;}
  
.login-body { max-width: 435px;}

.title {font-size: 1.2rem;}

.img-logo {height: 70px;}

.bottom__content { padding: 1rem;}

}

@media only screen and (max-width: 480px)
{
  .login-body {max-width: 445px;}
 
}

@media only screen and (max-width: 425px)
{
    
 .login-body {max-width: 370px;}

 .title { font-size: 1.1rem;}
  
}

@media only screen and (max-width: 430px)
{
  .login-body {max-width: 390px;}
  
  .title {font-size: 1.1rem;}
}

@media only screen and (max-width: 375px)
{
  .login-body {max-width: 352px;}

  .btn-success {width: 20%;}
  
  .title {font-size: 1rem;}

   .logo-img {width: 110px;height: 55px;border-radius: 2px;}
}

@media only screen and (max-width: 320px)
{
  .login-body {max-width: 300px;}
  
  .title {font-size: .9rem;}
}
















