﻿#pagingDiv a, #pagingDiv span, .Pager a, .Pager span {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bolder;
    /*margin-right: 4px;*/
    /* border-radius: 3px; */
    /* border: solid 1px #c0c0c0; */
    /* background: #e9e9e9; */
    /* box-shadow: inset 0px 1px 0px rgb(255 255 255 / 80%), 0px 1px 3px rgb(0 0 0 / 10%); */
    /*font-size: .875em;*/
    text-decoration: none;
    color: #7d7d7d;
    transition: .15s;
    /* text-shadow: 0px 1px 0px rgb(255 255 255); */
}

    #pagingDiv span:hover,
    #pagingDiv a:hover,
    #pagingDiv a.active, .page-1,
    .Pager a:hover, .Pager a.active {
        background: #4285f4;
        color: #dee2e6 !important;
    }

#pagingDiv, .Pager {
    /*text-align: right;*/
    /*box-shadow: 0px 0px 2px rgba(0,0,0, .22);*/
    border: 1px solid #dee2e6;
    float: right;
}


/*Added by Jyoti*/

.PagerTop {
    float: right;
}



/*.Pager span {
    color: #f0f0f0;
    background: #616161;
}


.Pager {
    text-align: right;
}*/
