body 
{
 padding: 15px;
}

.noprint 
{
    display: none;
}

.orange-text-color {
    color: #f98d45;
}
.print-section h5 {
    padding: 2rem 0rem;
}
.profile-photo {
height: 140px;
    width: 130px;
    text-align: center;
    overflow: hidden;
    background-color: #f5f5f5;
    border: dashed 2px #dcdcdc;
}
.profile-photo img {
	height: 100%;
	margin: auto;
	width: auto;
}
#printHeader {
    font-size: 15px;
    padding: 5px;
}
#printContent {
    font-size: 55px;
    padding: 5px;
}