.sidebar {background: #7460ee; }

.sidebar .nav-item .nav-link {  color: #fff;font-weight: 800;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {color: #fff;}



.sidebar .nav-item .collapse 
{
    background: rgb(255 255 255);
}

/*.sidebar .nav-item.active .nav-link 
{
    background-color: #410774;
    color: #fff;
}

.sidebar .nav-item.active .nav-link:hover 
{
    background-color: rgb(120 15 217);
}

.nav-link[aria-expanded="true"] 
{
    background: rgb(255 255 255 / 43%);
}*/

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item 
{
    color: #131414;
}