
.sidebar {background-color: #1e263a;}

.sidebar .nav-item .nav-link {color: #fff;font-weight: 500;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item 
{
  color: #ffffff;
    
}


.sidebar .nav-item .collapse 
{
    background: rgb(255 255 255);
}

/*.sidebar .nav-item.active .nav-link 
{
    
    background-color: rgb(17 17 18);
    color: #fff;
}

.sidebar .nav-item.active .nav-link:hover 
{
   background-color: rgb(89 93 102 / 67%);
}

.nav-link[aria-expanded="true"] 
{
    background: rgb(59 59 61 / 66%);
}*/

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item 
{
    color: #131414;
}


