
.sidebar {background: #fff;}

.sidebar .nav-item .nav-link {color: #000;font-weight: 300;}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {color: #000;}




