html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    color: #3a3b45;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #edf1f5;
}



a {
    color: #54667a;
}

    a:focus {
        outline: none;
    }

    a:hover {
        color: #54667a;
    }

.font-light {
    font-weight: 300;
}

.h4, h4 {
    font-size: 1.125rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

#wrapper {
    display: flex;
}

    #wrapper #content-wrapper {
        width: 100%;
        overflow-x: hidden;
    }

        #wrapper #content-wrapper #content {
            flex: 1 0 auto;
        }

/*file upload*/
/*.profile-photo 
{
    height: 140px;
    width: 130px;
    text-align: center;
    overflow: hidden;
    background-color: #f5f5f5;
    border: dashed 2px #dcdcdc;
}

.profile-photo img 
{
    height: 100%;
    margin: auto;
    width: auto;
}

.fileUpload 
{
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload 
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.custom-file-label 
{
    border-radius: 0;
}

.custom-file-label:after 
{
    border-radius: 0;
}

.file-upload 
{
    background-color: #ffffff;
    width: 200px;
    margin: 10px 0 0 0;
    position: relative;
}

.photoupload-sec 
{
    display: block;
}

.file-upload-content, .file-upload-content 
{
    text-align: center;
    height: 156px;
    overflow: hidden;
    border: 2px dashed #d1d3e2;
}

.file-upload-content1 
{
    border: 0;
}

.file-upload-input 
{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap 
{
    border: 2px dashed #d1d3e2;
    position: relative;
    height: 156px;
}

.image-dropping,
.image-upload-wrap:hover 
{
    background-color: #eaecf4;
}

.image-title-wrap 
{
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text 
{
    text-align: center;
}

.drag-text h5 
{
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #858796;
    padding: 2rem 1rem;
}

.remove-img 
{
    position: absolute;
    right: 0;
    top: 0;
}

.file-upload .btn 
{
    border-radius: 0;
    opacity: .6;
}

.file-upload-image 
{
    margin: auto;
    height: 100%;
}*/
/*end*/




/*Sign upload css*/
/*.signUpload 
{
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.signUpload input.upload 
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.custom-sign-label 
{
    border-radius: 0;
}

.custom-sign-label:after 
{
    border-radius: 0;
}

.sign-upload 
{
    background-color: #ffffff;
    width: 200px;
    margin: 10px 0 0 0;
    position: relative;
}

.photoupload-sec 
{
    display: block;
}

.sign-upload-content, .sign-upload-content 
{
    text-align: center;
    height: 65px;
    line-height: 60px;
    overflow: hidden;
    border: 2px dashed #d1d3e2;
}

.sign-upload-content1 
{
    border: 0;
}

.sign-upload-input 
{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.sign-upload-wrap 
{
    border: 2px dashed #d1d3e2;
    position: relative;
    height: 65px;
}

.sign-dropping,.sign-upload-wrap:hover 
{
    background-color: #eaecf4;
}

.sign-title-wrap 
{
    padding: 0 15px 15px 15px;
    color: #222;
}

.sign-upload .drag-text h5 
{
    line-height: 1.4rem;
    padding: 0.5rem 0.5rem;
}

.sign-upload .btn 
{
    border-radius: 0;
    opacity: .6;
}

.remove-img 
{
    position: absolute;
    right: 0;
    top: 0;
}

.sign-upload-image 
{
    margin: auto;
    width: 100%;
}*/
/*end*/





/*progress bar css*/
/*.progressbar 
{
    padding: 0;
    display: block;
    width: 60%;
    margin: auto;
    border-bottom: 0;
}

.progressbar .nav-item 
{
    list-style-type: none;
    width: 32.8%;
    display: inline-block;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}

.progressbar .nav-link 
{
    width: 60px;
    height: 60px;
    line-height: 2.2rem;
    font-size: 1.4rem;
    content: "";
    border: 2px solid #b7b9cc;
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background-color: #fff;
}
      
.progressbar .nav-link:focus, .progressbar .nav-link:hover 
{
    border-color: #f7751d #f7751d #f7751d;
}

.progressbar .nav-item.active a 
{
    background: #f98d45;
    border: 2px solid #f98d45;
    color: #fff;
}

.progressbar.grant-step li 
{
    width: 25%;
}

.progressbar li:after 
{
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #b7b9cc;
    top: 30px;
    left: -50%;
    z-index: 0;
}

.progressbar li:first-child:after 
{
    content: none;
}

.progressbar li.active:before 
{
    border-color: #f98d45;
    background: green;
}

.progressbar li.active + li:after 
{
    background-color: #FDBC90;
}

.progressbar li.active:before 
{
    background: #f98d45;
}

.progressbar li::before 
{
    background: #fff;
}*/

/*end*/


.util-group {
    float: right;
    flex-direction: column;
    display: flex;
}

    .util-group .fa-map-marker {
        color: #dda81a;
        margin-right: 5px;
    }

    .util-group .district {
        font-weight: bold;
        color: #a71a1f;
    }

.highcharts-plot-band {
    fill: transparent;
}

.btn-radius-50 {
    border-radius: 30px;
}

.pd-0 {
    padding: 0px !important;
}


/* Over ride css*/
.container, .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.form-control {
    font-size: .9rem;
}

.nav.nav-tabs.for-manditory {
    margin-top: 14px;
}

.btn-warning {
    color: #ffffff;
    background-color: #f7751d;
    border-color: #f7751d;
}

    .btn-warning:hover {
        color: #fff;
        background-color: #f98d45;
        border-color: #f98d45;
    }

    .btn-warning.focus, .btn-warning:focus {
        color: #ffffff;
        background-color: #f98d45;
        border-color: #f98d45;
        box-shadow: 0 0 0 0.2rem rgba(247, 117, 29, 0.42);
    }

    .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
        color: #fff;
        background-color: #f98d45;
        border-color: #f98d45;
    }

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(204, 204, 204, 0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #be25178c;
}

#style-3 {
    overflow-y: scroll;
    height: 260px;
}

button:focus {
    /* outline: 1px dotted; */
    outline: none;
}

.badge-warning {
    color: #ffffff;
    background-color: #f98d45;
}

.text-warning {
    color: #f7751d !important;
}


/*khusbu writeen css*/

.orange-text-color {
    color: #f98d45;
}


.maintab ul li {
    margin-right: .5rem;
}

.log-togl {
    font-size: 1.4rem;
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    float: right;
    line-height: 22px;
}

.fa-trash-alt, .fa-pencil-alt, .fa-plus {
    color: #fff;
}

#indicate {
    font-size: .8rem;
}

.label-left {
    text-align: left !important;
}

.font-italic {
    font-style: italic;
}

    .font-italic small {
        font-weight: bold;
    }

.searchBar p {
    display: flex;
}

.searchBar .form-control {
    width: 82%;
    margin-left: 10px;
}

.util-group .btn.btn-md {
    padding: .5rem .7rem;
    margin-top: -11px;
}

table.table a {
    margin: 0;
    /*color: #d0383d;*/
    color: #fff;
    text-decoration: none;
}

    table.table a:hover {
        color: #000;
    }

/*css written by khusbu onwards 6 aug 2020 start*/

.sidebar .sidebar-brand .sidebar-brand-text .header-logo {
    height: 40px;
    margin-top: 0.6rem;
}

.page-headingBG .float-right {
    float: left !important;
}

.sidebar {
    width: 0rem !important;
    overflow: hidden;
}

    .sidebar.toggled {
        width: 6.5rem !important;
        overflow: visible;
    }

.form-border {
    border: 1px solid #eae7e7;
    background: #f9f9f9;
    padding: 13px 13px 0;
}

.heading-title {
    font-size: 1.1rem !important;
}

    .heading-title strong {
        font-size: 15px;
    }

.col-form-label strong {
    width: 50px;
    display: table-cell;
}

.col-form-label {
    display: flex;
}

.card-body h2.title {
    /* font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 0rem 0rem;
    font-weight: 600;
    position: relative; */
    color: #fff;
    font-size: 24px;
    font-family: "ubuntu";
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right,#c50910 10%, #0045c3 50%, #047c4a 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}



/* .card-body h2.title::before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0px;
    height: 3px;
    width: 115px;
    background-color: #a71a1f;
} */

.pagination-sec {
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
    flex-direction: column;
}

.correctGif {
    text-align: center;
    height: 200px;
}

.captcha {
    display: flex;
    flex-direction: column;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 0 auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front p {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 10px;
    box-shadow: 1px 2px 3px #909090;
    border-radius: 5px;
    background: linear-gradient(45deg, #ec0008, #a71a1f);
    color: white;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #f2f2f2;
    color: black;
}

.flip-card-back {
    background-color: #a71a1f;
    color: white;
    transform: rotateY(180deg);
}

    .flip-card-back h3 {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 2rem;
    }

.text-success-light {
    color: #8BC34A !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #a71a1f !important;
    background-color: #a71a1f !important;
}

.text-blue {
    color: #186db1 !important;
}

.text-danger-light {
    color: #f44336b8 !important;
}

.downloadBtn a {
    padding: 2px 5px;
    box-shadow: 1px 2px 3px #a7a7a7;
    background: #ffffff;
}

.correctGif img {
    height: 100%;
}

.parameterPmt .table-responsive {
    overflow-x: hidden;
}

#downloadPdf i {
    color: #a71a1f;
}

.correctGif + p {
    text-align: center;
    font-weight: bold;
    color: #77b43f;
    margin-top: 2rem;
    font-size: 20px;
}

ul.pagination {
    margin: 0;
}

.dataTables_info {
    line-height: 42px;
    padding-left: 5px;
}

dataTables_paginate {
    padding: 5px 0px;
}

span.mr-2.d-none.d-lg-inline {
    color: #fff;
    font-weight: 500;
}

.search-sec {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.search-sec__left {
    margin-bottom: .5rem !important;
}

    .search-sec__left span {
        line-height: 33px;
    }

.dataTables_paginate {
    padding: 5px 0px;
}

.search-sec .form-control {
    font-size: 1rem;
}

label.showStyle {
    display: flex;
}

.noRecord {
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
    font-weight: bold;
    color: grey;
}

.imguploaded img {
    width: 112px;
    height: 112px;
    border: 2px solid #c7c7c7;
    padding: 4px;
}

.location-div {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: max-content;
    float: left;
}

.select-txt {
    width: max-content;
    float: left;
    margin-right: 40px;
    font-weight: 500;
    font-size: 1.2em;
}

.tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

    .tree ul {
        margin-left: 1em;
        position: relative
    }

        .tree ul ul {
            margin-left: .5em
        }

        .tree ul:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid
        }

    .tree li {
        margin: 0;
        padding: 0 1em;
        line-height: 2em;
        color: #369;
        font-weight: 700;
        position: relative
    }

    .tree ul li:before {
        content: "";
        display: block;
        width: 10px;
        height: 0;
        border-top: 1px solid;
        margin-top: -1px;
        position: absolute;
        top: 1em;
        left: 0
    }

    .tree ul li:last-child:before {
        background: #fff;
        height: auto;
        top: 1em;
        bottom: 0
    }

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    color: #369;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.show-control {
    background: rgb(243 243 243);
    width: 100%;
    display: block;
    padding: 5px;
    min-height: 34px;
    border: 1px solid #e2e2e29e;
}

.searchform .col-form-label {
    text-align: left;
}

.searchform-add .col-form-label {
    text-align: left;
}

.search-box .searchform-add {
    padding: 1rem 1.5rem 0rem 1.5rem;
}

.search-box .searchform {
    padding: 1.5rem;
}

.search-box .searchbtn {
    margin-top: 0;
}


.text-green {
    background-color: #26c026 !important;
    color: #fff;
}

.list-arrows {
    padding-top: 30px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-group-item {
    text-align: left;
}

    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

.dual-list .list-group-item.active {
    color: #383737;
    background-color: #f3f3f3;
    border-color: #d6d6d6;
}

.icon-fxt {
    line-height: 30px;
    margin-right: 9px;
    color: #fff;
}

.nav-item:hover .icon-fxt {
    box-shadow: 0 0 20px rgb(67 67 72 / 25%);
}

.nav-link[aria-expanded="true"] {
    background: #00000012;
}

.btn {
    margin: 0rem .5rem 0rem 0rem;
}

/*css written by khusbu onwards 6 aug 2020 end*/


.form-control-plaintext {
    font-weight: 600;
    color: #272727;
    font-size: inherit;
}

.breadcrumb {
    font-size: .8rem;
    margin-top: 0.4rem;
    font-weight: 600;
}

.card-group {
    margin-bottom: 30px;
}

    .card-group > .card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-group .card {
        border-right: 1px solid rgba(120,130,140,.13);
    }

.btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 23px;
}

/*.progress 
{
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    -o-shadow: inset 0 1px 2px rgba(0,0,0,.05);
}

.progress 
{
    display: flex;
    height: 4px;
    overflow: hidden;
    line-height: 0;
    font-size: .65625rem;
    background-color: rgba(120,130,140,.13);
    border-radius: 0;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.1);
}*/



.maintab {
    padding: 1.25rem 1.25rem 0 1.25rem;
}

    .maintab .util-group .btn:hover {
        color: #4e73df !important;
    }

    .maintab .nav-link {
        background-color: #f1f1f100;
        color: #d2464b;
        font-weight: 600;
        border-radius: 0px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

        .maintab .nav-link.active, .maintab .nav-link .show > .nav-link {
            border-radius: 0px;
            color: #2f323e;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }

.search-box {
    position: relative;
    background-color: rgba(61, 54, 38, 0.1);
}

    .search-box .searchform {
        background-color: #f8f9fc;
    }

    .search-box .searchbtn {
        background-color: rgba(78, 115, 223, 0.08);
    }

.table th {
    background-color: #f8f9fc;
    border-bottom: solid #b7b9cc 2px;
    color: #000;
    font-weight: 700;
}

.table a {
    text-decoration: underline;
}

table.table th, table.table td {
    padding: .55rem;
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    color: #fff;
    background: rgb(67 67 72);
    line-height: 34px;
}

    .scroll-to-top:focus, .scroll-to-top:hover {
        color: white;
    }

    .scroll-to-top:hover {
        background: #5a5c69;
    }

    .scroll-to-top i {
        font-weight: 800;
    }

/*.reset-date 
{
    position: absolute;
    margin-left: -25px;
    top: 18%;
    z-index: 9;
    display: block;
    color: #858796;
}

.reset-date:hover 
{
    text-decoration: none;
}*/



.bg-gradient-primary {
    background-color: #1269DB;
    background-image: linear-gradient(180deg, #1269DB 10%, #0c4794 100%);
    background-size: cover;
}

.bg-gradient-secondary {
    background-color: #858796;
    background-image: linear-gradient(180deg, #858796 10%, #60616f 100%);
    background-size: cover;
}

.bg-gradient-success {
    background-color: #1cc88a;
    background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
    background-size: cover;
}

.bg-gradient-info {
    background-color: #36b9cc;
    background-image: linear-gradient(180deg, #36b9cc 10%, #258391 100%);
    background-size: cover;
}

.bg-gradient-warning {
    background-color: #f6c23e;
    background-image: linear-gradient(180deg, #f6c23e 10%, #dda20a 100%);
    background-size: cover;
}

.bg-gradient-danger {
    background-color: #e74a3b;
    background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
    background-size: cover;
}

.bg-gradient-light {
    background-color: #f8f9fc;
    background-image: linear-gradient(180deg, #f8f9fc 10%, #c2cbe5 100%);
    background-size: cover;
}

.bg-gradient-dark {
    background-color: #5a5c69;
    background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
    background-size: cover;
}

.bg-gray-100 {
    background-color: #f8f9fc !important;
}

.bg-gray-200 {
    background-color: #eaecf4 !important;
}

.bg-gray-300 {
    background-color: #dddfeb !important;
}

.bg-gray-400 {
    background-color: #d1d3e2 !important;
}

.bg-gray-500 {
    background-color: #b7b9cc !important;
}

.bg-gray-600 {
    background-color: #858796 !important;
}

.bg-gray-700 {
    background-color: #6e707e !important;
}

.bg-gray-800 {
    background-color: #5a5c69 !important;
}

.bg-gray-900 {
    background-color: #3a3b45 !important;
}

.bg-maroon-700 {
    background-color: #be2617 !important;
}

.bg-maroon-500 {
    background-color: #be2617cc;
}

.o-hidden {
    overflow: hidden !important;
}

.text-xs {
    font-size: .7rem;
}

.text-md {
    font-size: .9rem;
}

.text-lg {
    font-size: 1.2rem;
}

.text-gray-100 {
    color: #f8f9fc !important;
}

.text-gray-200 {
    color: #eaecf4 !important;
}

.text-gray-300 {
    color: #dddfeb !important;
}

.text-gray-400 {
    color: #d1d3e2 !important;
}

.text-gray-500 {
    color: #b7b9cc !important;
}

.text-gray-600 {
    color: #858796 !important;
}

.text-gray-700 {
    color: #6e707e !important;
}

.text-gray-800 {
    color: #5a5c69 !important;
}

.text-gray-900 {
    color: #3a3b45 !important;
}

.icon-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-left-primary {
    border-left: 0.25rem solid #1269DB !important;
}

.border-bottom-primary {
    border-bottom: 0.25rem solid #1269DB !important;
}

.border-left-secondary {
    border-left: 0.25rem solid #858796 !important;
}

.border-bottom-secondary {
    border-bottom: 0.25rem solid #858796 !important;
}

.border-left-success {
    border-left: 2px solid #1cc88a !important;
}

.border-bottom-success {
    border-bottom: 0.25rem solid #1cc88a !important;
}

.border-left-info {
    border-left: 2px solid #36b9cc !important;
}

.border-left-purple {
    border-left: 2px solid #9c27b0 !important;
}

.border-bottom-info {
    border-bottom: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
    border-left: 0.25rem solid #f6c23e !important;
}

.border-bottom-warning {
    border-bottom: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
    border-left: 2px solid #e74a3b !important;
}

.border-bottom-danger {
    border-bottom: 0.25rem solid #e74a3b !important;
}

.border-left-light {
    border-left: 0.25rem solid #f8f9fc !important;
}

.border-bottom-light {
    border-bottom: 0.25rem solid #f8f9fc !important;
}

.border-left-dark {
    border-left: 0.25rem solid #5a5c69 !important;
}

.border-bottom-dark {
    border-bottom: 0.25rem solid #5a5c69 !important;
}

.progress-sm {
    height: .5rem;
}

.rotate-15 {
    transform: rotate(15deg);
}

.rotate-n-15 {
    transform: rotate(-15deg);
}

.dropdown .dropdown-menu {
    font-size: 0.85rem;
}


    .dropdown .dropdown-menu .dropdown-header {
        font-weight: 800;
        font-size: 0.65rem;
        color: #b7b9cc;
    }

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}


.topbar {
    height: 3.8rem;
}

    .topbar .navbar {
        padding: 0rem 1rem;
        height: 3.8rem;
    }

.default-bg {
    background-color: #a71a1f;
}

.default-dipbg {
    background-color: #108413 !important;
}

.default-white {
    background-color: #fff !important;
}

.text-grey-bg {
    color: #2f323e !important;
}

.card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.01), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.01), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}

.topbar .sidebar-brand {
    font-size: 1.6rem;
    text-decoration: none;
    width: 14rem;
}

.topbar #sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    font-size: 18px;
    margin-top: -12px;
}

.topbar .navbar-search {
    width: 25rem;
}

    .topbar .navbar-search input {
        font-size: 0.85rem;
        height: auto;
    }

.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}

.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

    .topbar .nav-item .nav-link:focus {
        outline: none;
    }

.topbar .nav-item:focus {
    outline: none;
}

.topbar .dropdown {
    position: static;
}

    .topbar .dropdown .dropdown-menu {
        width: calc(100% - 1.5rem);
        right: 0.75rem;
    }

.topbar .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden;
}

    .topbar .dropdown-list .dropdown-header {
        background-color: #be2617;
        border: 1px solid #be2617;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        color: #fff;
        font-size: 0.85rem;
        font-weight: 400;
    }

    .topbar .dropdown-list .dropdown-item {
        white-space: normal;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-left: 1px solid #e3e6f0;
        border-right: 1px solid #e3e6f0;
        border-bottom: 1px solid #e3e6f0;
        line-height: 1.3rem;
    }

        .topbar .dropdown-list .dropdown-item .dropdown-list-image {
            position: relative;
            height: 2.5rem;
            width: 2.5rem;
        }

            .topbar .dropdown-list .dropdown-item .dropdown-list-image img {
                height: 2.5rem;
                width: 2.5rem;
            }

            .topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator {
                background-color: #eaecf4;
                height: 0.75rem;
                width: 0.75rem;
                border-radius: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                border: 0.125rem solid #fff;
            }

        .topbar .dropdown-list .dropdown-item .text-truncate {
            max-width: 10rem;
        }

        .topbar .dropdown-list .dropdown-item:active {
            background-color: #eaecf4;
            color: #3a3b45;
        }

.page-headingBG {
    padding: 1rem 1.5rem 0rem 1.5rem;
    color: #2f323e;
}

    .page-headingBG ol li a {
        color: #8898aa;
    }

    .page-headingBG .breadcrumb-item + .breadcrumb-item::before {
        color: #8898aa;
    }

    .page-headingBG .breadcrumb {
        margin-bottom: 0rem;
    }


.pagetop {
    margin-top: 0rem;
}

h1.h1-weight {
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
}

.border-bottom {
    border-bottom: 1px solid rgba(120,130,140,.13) !important;
}

.btn.btn-cs {
    padding: .64rem 1.5rem;
    font-size: .9rem;
    font-weight: 500;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.card {
    margin-bottom: 0px;
}

.page-content {
    padding: 18px;
}

.graph2 img {
    height: 245px;
}

.graph2 {
    text-align: center;
}

#Registration {
    height: 350px;
}

#export {
    height: 350px;
}


.card .card-title {
    position: relative;
    font-weight: 600;
    font-size: 16px;
}




    .card .card-title::before {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -9px;
        width: 70px;
        height: 5px;
        background: linear-gradient(45deg, #a71a1f, transparent);
    }

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
}

    .topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
        color: #b7b9cc;
    }

    .topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
        color: #858796;
    }

.sidebar {
    width: 6.5rem;
    transition: all .4s;
    min-height: 100vh;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    transition: .2s ease-in;
    padding: 0.5rem;
}

    .sidebar .nav-item {
        position: relative;
        margin-bottom: 0.1rem;
        border-radius: 4px;
    }


        .sidebar .nav-item.show a.navlink {
            background: #a71a1f;
            color: #ffff;
        }

        .sidebar .nav-item:last-child {
            margin-bottom: 1rem;
        }

        .sidebar .nav-item .nav-link {
            text-align: center;
            padding: 0.7rem 1.3rem;
            width: 6.5rem;
            border-radius: 4px;
            font-weight: 600;
        }
        .sidebar .nav-item.active .nav-link {
            background:rgba(0,0,0,.1)
        }
            .sidebar .nav-item .nav-link span {
                display: block;
            }

        .sidebar .nav-item.active .nav-link, .sidebar .nav-item.dropdown.show a.nav-link {
            font-weight: 600;
            background-color: #a71a1f;
            color: #ffffff;
        }

        .sidebar .nav-item.dropdown.show {
            background-color: #c53e43;
        }


        .sidebar .nav-item.active .nav-link:hover {
            background-color: #ff5050;
        }



        .sidebar .nav-item.dropdown .dropdown-menu {
            font-size: 0.85rem;
            position: relative !important;
            transform: translate3d(0px, 0px, 0px) !important;
            border: 0;
            padding: 0;
            border-radius: 4px;
            overflow: hidden;
            background: transparent;
        }


            .sidebar .nav-item.dropdown .dropdown-menu .dropdown-menu {
                padding-left: 30px;
            }

                .sidebar .nav-item.dropdown .dropdown-menu .dropdown-menu:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    bottom: 0;
                    left: 23px;
                    width: 1px;
                    background: #e37378;
                }

                .sidebar .nav-item.dropdown .dropdown-menu .dropdown-menu li {
                    position: relative
                }

                    .sidebar .nav-item.dropdown .dropdown-menu .dropdown-menu li:before {
                        content: '';
                        position: absolute;
                        top: 12px;
                        left: -10px;
                        width: 7px;
                        height: 7px;
                        border-radius: 100%;
                        background: #e37378;
                    }

            .sidebar .nav-item.dropdown .dropdown-menu .dropdown-submenu {
                background: rgba(0,0,0,.1)
            }



            .sidebar .nav-item.dropdown .dropdown-menu .dropdown-item {
                padding: 0.25rem 1rem;
                color: #e1e1e1;
                background-color: #c53e43;
            }

            .sidebar .nav-item.dropdown .dropdown-menu .dropdown-menu li .dropdown-item {
                padding: 0.35rem 1rem;
                background: #b1383c;
            }
            .sidebar .nav-item.dropdown .dropdown-menu .dropdown-menu li .dropdown-item.active {
                color:#ff0
            }


                .dropdown-menu li {
                    margin-bottom: 0
                }

.sidebar .nav-item.dropdown .dropdown-toggle::after, .topbar .nav-item.dropdown .dropdown-toggle::after, .sidebar .nav-item.dropdown .dropdown-menu.show .dropdown-submenu .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    margin-top: 3px;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
}

.sidebar .nav-item.dropdown.show .dropdown-toggle::after, .topbar .nav-item.dropdown.show .dropdown-toggle::after, .sidebar .nav-item.dropdown .dropdown-menu.show .dropdown-submenu.show .dropdown-toggle::after {
    content: '\f107';
}

.sidebar .nav-item .nav-link, .topbar .nav-item .nav-link {
    position: relative;
}

    .sidebar .nav-item .nav-link .badge-counter, .topbar .nav-item .nav-link .badge-counter {
        position: absolute;
        transform: scale(0.7);
        transform-origin: top right;
        right: .25rem;
        margin-top: -.5rem;
        height: 25px;
        width: 25px;
        font-size: 14px;
    }

    .sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
        height: 2rem;
        width: 2rem;
    }




/*.sidebar .nav-item.active .nav-link:before 
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #038f06;
}*/

.mTop-3 {
    margin-top: 3rem;
}

.mTop-4 {
    margin-top: 5rem;
}

.styleTitle {
    font-size: 18px;
    font-weight: bold !important;
    color: #565656;
    background: #ffddde;
    padding: 10px;
    margin: 10px 0px 25px;
}

.sidebar .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
}

    .sidebar .nav-item .collapse .collapse-inner {
        border-radius: 0.35rem;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    }

.sidebar .nav-item .collapsing {
    display: none;
    transition: none;
}

    .sidebar .nav-item .collapse .collapse-inner, .sidebar .nav-item .collapsing .collapse-inner {
        padding: .5rem 0;
        min-width: 10rem;
        font-size: 0.85rem;
        margin: 0 0 0 0;
    }

        .sidebar .nav-item .collapse .collapse-inner .collapse-header, .sidebar .nav-item .collapsing .collapse-inner .collapse-header {
            margin: 0;
            white-space: nowrap;
            padding: .5rem 1.5rem;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 0.65rem;
            color: #b7b9cc;
        }

        .sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
            position: relative;
            padding: 0.5rem 1rem 0.5rem 2.2rem;
            display: block;
            color: #858796;
            text-decoration: none;
            white-space: nowrap;
        }


            .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
                color: #3a3b45;
            }

            /*.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active 
{
    background-color: #dddfeb;
}*/

            .sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
                color: #a71a1f;
                font-weight: 800;
            }

                .sidebar .nav-item .collapse .collapse-inner .collapse-item.active:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active:before {
                    content: "\f111";
                    font-family: 'Font Awesome 5 Free';
                    font-size: .6rem;
                    position: absolute;
                    left: 5px;
                    top: 11px;
                    color: #a71a1f;
                }

            .sidebar .nav-item .collapse .collapse-inner .collapse-item:before, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:before {
                content: "\f111";
                font-family: 'Font Awesome 5 Free';
                font-size: .6rem;
                position: absolute;
                left: 4px;
                top: 11px;
                color: #a71a1f;
            }

.sidebar #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

    .sidebar #sidebarToggle::after {
        font-weight: 900;
        content: '\f104';
        font-family: 'Font Awesome 5 Free';
        margin-right: 0.1rem;
    }

    .sidebar #sidebarToggle:hover {
        text-decoration: none;
    }

    .sidebar #sidebarToggle:focus {
        outline: none;
    }

.sidebar.toggled #sidebarToggle::after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    margin-left: 0.25rem;
}

.sidebar .sidebar-brand {
    /* height: 4.375rem; */
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 0rem .5rem .5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
    border-bottom: 1px solid #edf1f5;
}

    .sidebar .sidebar-brand .sidebar-brand-icon i {
        font-size: 2rem;
    }

    .sidebar .sidebar-brand .sidebar-brand-text {
        display: block;
        width: 100%;
    }

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
}

.sidebar .nav-item .collapse .collapse-inner::before {
    border-left: 1px solid #a71a1f;
    content: "";
    display: block;
    left: 23px;
    position: absolute;
    font-family: FontAwesome;
    display: inline-block;
    color: #ff5050;
    margin-left: 0;
    font-size: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 25px;
}




/*-------------customizer Panel----------- */

.customizer {
    background: #fff;
    position: fixed;
    height: 23%;
    width: 255px;
    top: 8%;
    right: -268px;
    z-index: 100;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    transition: .3s ease-in;
}

    .customizer .service-panel-toggle {
        background: #a71a1f;
        padding: 10px 20px;
        color: #fff;
        position: absolute;
        border-radius: 25px 0px 0px 25px;
        top: 0%;
        left: -54px;
    }

    .customizer .customizer-body {
        position: relative;
        height: 100%;
    }

    .customizer.show-service-panel {
        right: 0;
    }

    .customizer .customizer-tab .nav-item .nav-link.active, .customizer .customizer-tab .nav-item .nav-link:hover {
        border-bottom: 3px solid #2cabe3;
        color: #2cabe3;
    }

    .customizer .customizer-tab .nav-item .nav-link {
        padding: 15px 12px;
        border-bottom: 3px solid transparent;
    }

    .customizer .customizer-tab {
        display: flex;
    }

        .customizer .customizer-tab .nav-item {
            text-align: center;
            width: 100%;
            font-size: 1rem;
            font-weight: 600;
        }

            .customizer .customizer-tab .nav-item .nav-link.active, .customizer .customizer-tab .nav-item .nav-link:hover {
                border-bottom: 3px solid #3c89e0;
                color: #3c89e0;
            }

            .customizer .customizer-tab .nav-item .nav-link {
                padding: 15px 12px;
                border-bottom: 3px solid transparent;
            }

.font-20 {
    font-size: 20px;
}

.customizer .customizer-tab .nav-item .nav-link {
    padding: 15px 12px;
    border-bottom: 3px solid transparent;
    color: #8898aa;
}

.font-medium {
    font-weight: 500;
}

.theme-seeting h5 {
    font-size: 1rem;
}

.SideNavBG h5 {
    font-size: 1rem;
}

.theme-color {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .theme-color .theme-item {
        list-style: none;
        display: inline-block;
        margin-right: 8px;
    }

        .theme-color .theme-item .theme-link {
            border-radius: 100%;
            width: 20px;
            height: 20px;
            display: block;
        }

/*left pannel icon shadow after hover*/
.sidebar .nav-item .nav-link:hover .icon-fxt {
    box-shadow: 1px 1px 14px #ff50507d;
}

.sidebar .nav-item .nav-link:hover {
    background: rgb(218 214 214 / 12%);
}

.nav-link[aria-expanded="true"] {
    background: rgb(218 51 51 / 13%);
}

.sidebar .nav-item .collapse {
    background: rgb(218 51 51 / 4%)
}

.input-group-text {
    background-color: #ff5050;
    border: 1px solid #ff5050;
    color: #fff;
}










/*header 1*/
#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skinwhite], #main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skinwhite] {
    background: #fff;
    border: 1px solid #d6cccc;
}

#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skinblack], #main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skinblack] {
    background: #1e263a;
}

#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skinred], #main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skinred] {
    background: #ffb22b;
}

#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skingreen], #main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skingreen] {
    background: #09b4b7;
}

#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skinpink], #main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skinpink] {
    background: #e685a3;
}

#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skinpurple], #main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skinpurple] {
    background: #7460ee;
}

#main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skinblue], #main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skinblue] {
    background: #4fa0ca;
}


/*sidenav 1*/

.theme-color .theme-item .theme-link[data-logobg=skinwhite], .theme-color .theme-item .theme-link[data-navbarbg=skinwhite], .theme-color .theme-item .theme-link[data-sidebarbg=skinwhite] {
    background: #fff;
    border: 1px solid #d6cccc;
}


.theme-color .theme-item .theme-link[data-logobg=skinblack], .theme-color .theme-item .theme-link[data-navbarbg=skinblack], .theme-color .theme-item .theme-link[data-sidebarbg=skinblack] {
    background: #1e263a;
}


.theme-color .theme-item .theme-link[data-logobg=skinred], .theme-color .theme-item .theme-link[data-navbarbg=skinred], .theme-color .theme-item .theme-link[data-sidebarbg=skinred] {
    background: #ffb22b;
}

.theme-color .theme-item .theme-link[data-logobg=skingreen], .theme-color .theme-item .theme-link[data-navbarbg=skingreen], .theme-color .theme-item .theme-link[data-sidebarbg=skingreen] {
    background: #09b4b7;
}

.theme-color .theme-item .theme-link[data-logobg=skinpink], .theme-color .theme-item .theme-link[data-navbarbg=skinpink], .theme-color .theme-item .theme-link[data-sidebarbg=skinpink] {
    background: #f6145a;
}

.theme-color .theme-item .theme-link[data-logobg=skinpurple], .theme-color .theme-item .theme-link[data-navbarbg=skinpurple], .theme-color .theme-item .theme-link[data-sidebarbg=skinpurple] {
    background: #7460ee;
}

.theme-color .theme-item .theme-link[data-logobg=skinblue], .theme-color .theme-item .theme-link[data-navbarbg=skinblue], .theme-color .theme-item .theme-link[data-sidebarbg=skinblue] {
    background: #4fa0ca;
}

.theme-color .theme-item .theme-link[data-logobg=default], .theme-color .theme-item .theme-link[data-navbarbg=default], .theme-color .theme-item .theme-link[data-sidebarbg=default] {
    background: #ff5050;
    border-radius: 0px;
    border: 1px solid #ffffff;
}




.logoutBtn {
    background: #fff;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    height: 66px;
    width: 66px;
    line-height: 38px;
    margin-right: -16px;
}

.check-abl {
    font-weight: 600;
    color: #a71a1f;
}

.fas.fa-power-off {
    color: #da393f;
}

.badge-danger {
    color: #fff !important;
    background-color: #ff5050 !important;
}


.btn.btn-sm {
    font-size: .64rem;
    padding: .375rem .75rem;
}

.notify {
    position: relative;
    top: -2px;
    right: -5px;
}

    .notify .heartbit {
        position: absolute;
        top: -20px;
        right: -4px;
        height: 25px;
        width: 25px;
        z-index: 10;
        border: 5px solid #1e263a;
        border-radius: 70px;
        -moz-animation: heartbit 1s ease-out;
        -moz-animation-iteration-count: infinite;
        -o-animation: heartbit 1s ease-out;
        -o-animation-iteration-count: infinite;
        -webkit-animation: heartbit 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    .notify .point {
        width: 7px;
        height: 7px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background-color: #1e263a;
        position: absolute;
        right: 6px;
        top: -10px;
    }

.doubleBlock {
    display: flex;
}

.header-nav {
    margin-top: -5px;
}

.doubleBlock h5 {
    display: flex;
    flex-grow: 1;
}

.doubleBlock .cummulative {
    background: #0f487f;
    padding: 4px 20px 8px;
    color: #fff !important;
}

.doubleBlock .tableStyle {
    background: #0f487f;
    padding: 2px 6px 2px;
    color: #fff !important;
}

.doubleBlock .graphView {
    background: #0f487f;
    padding: 2px 6px 2px;
    color: #fff !important;
}

.doubleBlock .daily {
    background: #0f487f;
    padding: 4px 20px 8px;
    color: #fff !important;
}

.top-view button {
    position: relative;
    overflow: visible;
}

.cross-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #d20000;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 50%;
    box-shadow: 1px 2px 3px #5f5f5f;
}

.card .header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    background: #f3f3f3;
    color: grey;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.card .body {
    padding: 5px 15px;
}

.sidebar-light .sidebar-brand {
    color: #6e707e;
}

.sidebar-light hr.sidebar-divider {
    border-top: 1px solid #eaecf4;
}

.sidebar-light .sidebar-heading {
    color: #b7b9cc;
}

.sidebar-light .nav-item .nav-link {
    color: #858796;
}

    .sidebar-light .nav-item .nav-link i {
        color: #d1d3e2;
    }

    .sidebar-light .nav-item .nav-link:active, .sidebar-light .nav-item .nav-link:focus, .sidebar-light .nav-item .nav-link:hover {
        color: #6e707e;
    }

        .sidebar-light .nav-item .nav-link:active i, .sidebar-light .nav-item .nav-link:focus i, .sidebar-light .nav-item .nav-link:hover i {
            color: #6e707e;
        }

    .sidebar-light .nav-item .nav-link[data-toggle="collapse"]::after {
        color: #b7b9cc;
    }

.sidebar-light .nav-item.active .nav-link {
    color: #6e707e;
}

    .sidebar-light .nav-item.active .nav-link i {
        color: #6e707e;
    }

.sidebar-light #sidebarToggle {
    background-color: #eaecf4;
}

    .sidebar-light #sidebarToggle::after {
        color: #b7b9cc;
    }

    .sidebar-light #sidebarToggle:hover {
        background-color: #dddfeb;
    }

.sidebar-dark .sidebar-brand {
    color: #fff;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

    .sidebar-dark .nav-item .nav-link i {
        color: rgba(255, 255, 255, 0.3);
    }

    .sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:hover {
        color: #fff;
    }

        .sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover i {
            color: #fff;
        }

    .sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
        color: rgba(255, 255, 255, 0.5);
    }

.sidebar-dark .nav-item.active .nav-link {
    color: #fff;
}

    .sidebar-dark .nav-item.active .nav-link i {
        color: #fff;
    }

.sidebar-dark #sidebarToggle {
    background-color: rgba(255, 255, 255, 0.2);
}

    .sidebar-dark #sidebarToggle::after {
        color: rgba(255, 255, 255, 0.5);
    }

    .sidebar-dark #sidebarToggle:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }

.sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
}

.btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.btn-icon-split {
    padding: 0;
    overflow: hidden;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
}

    .btn-icon-split .icon {
        background: rgba(0, 0, 0, 0.15);
        display: inline-block;
        padding: 0.375rem 0.75rem;
    }

    .btn-icon-split .text {
        display: inline-block;
        padding: 0.375rem 0.75rem;
    }

    .btn-icon-split.btn-sm .icon, .btn-group-sm > .btn-icon-split.btn .icon {
        padding: 0.25rem 0.5rem;
    }

    .btn-icon-split.btn-sm .text, .btn-group-sm > .btn-icon-split.btn .text {
        padding: 0.25rem 0.5rem;
    }

    .btn-icon-split.btn-lg .icon, .btn-group-lg > .btn-icon-split.btn .icon {
        padding: 0.5rem 1rem;
    }

    .btn-icon-split.btn-lg .text, .btn-group-lg > .btn-icon-split.btn .text {
        padding: 0.5rem 1rem;
    }

.card .card-header .dropdown {
    line-height: 1;
}

    .card .card-header .dropdown .dropdown-menu {
        line-height: 1.5;
    }

.card .card-header[data-toggle="collapse"] {
    text-decoration: none;
    position: relative;
    padding: 0.75rem 3.25rem 0.75rem 1.25rem;
}

    .card .card-header[data-toggle="collapse"]::after {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 1.725rem;
        line-height: 51px;
        font-weight: 900;
        content: '\f107';
        font-family: 'Font Awesome 5 Free';
        color: #d1d3e2;
    }

    .card .card-header[data-toggle="collapse"].collapsed {
        border-radius: 0.35rem;
    }

        .card .card-header[data-toggle="collapse"].collapsed::after {
            content: '\f105';
        }

.chart-area {
    position: relative;
    height: 10rem;
    width: 100%;
}

.chart-bar {
    position: relative;
    height: 10rem;
    width: 100%;
}

.chart-pie {
    position: relative;
    height: 15rem;
    width: 100%;
}


.bg-login-image {
    background: url("https://source.unsplash.com/K4mSJ7kc0As/600x800");
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url("https://source.unsplash.com/Mv9hjnEUHR4/600x800");
    background-position: center;
    background-size: cover;
}

.bg-password-image {
    background: url("https://source.unsplash.com/oWTW-jNGl9I/600x800");
    background-position: center;
    background-size: cover;
}

form.user .custom-checkbox.small label {
    line-height: 1.5rem;
}

form.user .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

form.user .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

    .btn-google:hover {
        color: #fff;
        background-color: #e12717;
        border-color: #e6e6e6;
    }

    .btn-google:focus, .btn-google.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    }

    .btn-google.disabled, .btn-google:disabled {
        color: #fff;
        background-color: #ea4335;
        border-color: #fff;
    }

    .btn-google:not(:disabled):not(.disabled):active, .btn-google:not(:disabled):not(.disabled).active,
    .show > .btn-google.dropdown-toggle {
        color: #fff;
        background-color: #d62516;
        border-color: #dfdfdf;
    }

        .btn-google:not(:disabled):not(.disabled):active:focus, .btn-google:not(:disabled):not(.disabled).active:focus,
        .show > .btn-google.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
        }

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

    .btn-facebook:hover {
        color: #fff;
        background-color: #30497c;
        border-color: #e6e6e6;
    }

    .btn-facebook:focus, .btn-facebook.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    }

    .btn-facebook.disabled, .btn-facebook:disabled {
        color: #fff;
        background-color: #3b5998;
        border-color: #fff;
    }

    .btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active,
    .show > .btn-facebook.dropdown-toggle {
        color: #fff;
        background-color: #2d4373;
        border-color: #dfdfdf;
    }

        .btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus,
        .show > .btn-facebook.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
        }

.error {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}

    .error:after {
        content: attr(data-text);
        position: absolute;
        left: 2px;
        text-shadow: -1px 0 #e74a3b;
        top: 0;
        color: #5a5c69;
        background: #f8f9fc;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim 2s infinite linear alternate-reverse;
    }

    .error:before {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        text-shadow: 1px 0 #4e73df;
        top: 0;
        color: #5a5c69;
        background: #f8f9fc;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim-2 3s infinite linear alternate-reverse;
    }

footer.sticky-footer {
    padding: .8rem 0;
    margin-top: 20px;
    flex-shrink: 0;
}

    footer.sticky-footer .copyright {
        font-size: 0.8rem;
    }

body.sidebar-toggled footer.sticky-footer {
    width: 100%;
}


@keyframes growIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animated--grow-in, .sidebar .nav-item .collapse {
    animation-name: growIn;
    animation-duration: 200ms;
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animated--fade-in {
    animation-name: fadeIn;
    animation-duration: 200ms;
    animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
}



@-moz-keyframes heartbit {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
    }

    25% {
        -moz-transform: scale(.1);
        opacity: .1;
    }

    50% {
        -moz-transform: scale(.5);
        opacity: .3;
    }

    75% {
        -moz-transform: scale(.8);
        opacity: .5;
    }

    100% {
        -moz-transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }

    25% {
        -webkit-transform: scale(.1);
        opacity: .1;
    }

    50% {
        -webkit-transform: scale(.5);
        opacity: .3;
    }

    75% {
        -webkit-transform: scale(.8);
        opacity: .5;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes noise-anim {
    0% {
        clip: rect(79px, 9999px, 51px, 0);
    }

    5% {
        clip: rect(85px, 9999px, 1px, 0);
    }

    10% {
        clip: rect(91px, 9999px, 79px, 0);
    }

    15% {
        clip: rect(82px, 9999px, 82px, 0);
    }

    20% {
        clip: rect(18px, 9999px, 24px, 0);
    }

    25% {
        clip: rect(44px, 9999px, 61px, 0);
    }

    30% {
        clip: rect(99px, 9999px, 73px, 0);
    }

    35% {
        clip: rect(75px, 9999px, 40px, 0);
    }

    40% {
        clip: rect(67px, 9999px, 6px, 0);
    }

    45% {
        clip: rect(96px, 9999px, 18px, 0);
    }

    50% {
        clip: rect(46px, 9999px, 16px, 0);
    }

    55% {
        clip: rect(95px, 9999px, 23px, 0);
    }

    60% {
        clip: rect(90px, 9999px, 46px, 0);
    }

    65% {
        clip: rect(7px, 9999px, 31px, 0);
    }

    70% {
        clip: rect(88px, 9999px, 30px, 0);
    }

    75% {
        clip: rect(54px, 9999px, 59px, 0);
    }

    80% {
        clip: rect(34px, 9999px, 87px, 0);
    }

    85% {
        clip: rect(5px, 9999px, 46px, 0);
    }

    90% {
        clip: rect(76px, 9999px, 64px, 0);
    }

    95% {
        clip: rect(37px, 9999px, 30px, 0);
    }

    100% {
        clip: rect(92px, 9999px, 27px, 0);
    }
}



@keyframes noise-anim-2 {
    0% {
        clip: rect(20px, 9999px, 24px, 0);
    }

    5% {
        clip: rect(28px, 9999px, 46px, 0);
    }

    10% {
        clip: rect(18px, 9999px, 40px, 0);
    }

    15% {
        clip: rect(81px, 9999px, 22px, 0);
    }

    20% {
        clip: rect(100px, 9999px, 61px, 0);
    }

    25% {
        clip: rect(60px, 9999px, 71px, 0);
    }

    30% {
        clip: rect(93px, 9999px, 98px, 0);
    }

    35% {
        clip: rect(62px, 9999px, 85px, 0);
    }

    40% {
        clip: rect(24px, 9999px, 78px, 0);
    }

    45% {
        clip: rect(31px, 9999px, 59px, 0);
    }

    50% {
        clip: rect(13px, 9999px, 40px, 0);
    }

    55% {
        clip: rect(77px, 9999px, 39px, 0);
    }

    60% {
        clip: rect(12px, 9999px, 16px, 0);
    }

    65% {
        clip: rect(40px, 9999px, 90px, 0);
    }

    70% {
        clip: rect(54px, 9999px, 87px, 0);
    }

    75% {
        clip: rect(29px, 9999px, 69px, 0);
    }

    80% {
        clip: rect(38px, 9999px, 18px, 0);
    }

    85% {
        clip: rect(57px, 9999px, 40px, 0);
    }

    90% {
        clip: rect(27px, 9999px, 60px, 0);
    }

    95% {
        clip: rect(18px, 9999px, 56px, 0);
    }

    100% {
        clip: rect(95px, 9999px, 89px, 0);
    }
}

/*DASHBOARD CSS START*/
.card-icon-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}

    .card-icon-wrapper.blue {
        box-shadow: 0 0 10px 5px rgb(33 150 243 / 35%);
    }

    .card-icon-wrapper.green {
        box-shadow: 0 0 10px 5px rgba(0, 182, 122, 0.35);
    }

    .card-icon-wrapper.red {
        box-shadow: 0 0 10px 5px rgb(244 67 54 / 35%);
    }

    .card-icon-wrapper.purple {
        box-shadow: 0 0 10px 5px rgb(156 39 176 / 22%);
    }

    .card-icon-wrapper i {
        color: #fff;
        font-size: 30px;
    }

hr.m-30 {
    margin-right: 30%;
}

.highcharts-credits {
    display: none;
}

/*DASHBOARD CSS END*/



/*-----------------pramod css--------------------*/

.surveycard .card .card-title::before {
    display: none;
}

.basicDetails {
    border: 1px solid #ddd;
    padding: 1.5rem 1rem 0.8rem 1rem;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    position: relative;
}

.legend {
    border: 1px solid #e1e1e1;
    padding: 0.4rem 1rem;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    width: auto;
    display: inline-block;
    margin-bottom: 0;
    position: absolute;
    top: -20px;
}

.borderred {
    border: 1px solid #a71a1f;
}

.sharpgrey {
    background: #eaeaea;
    color: #000;
}

.legend.colorBG {
    background: #a71a1f;
    color: #fff;
}

.form-group.mb1 {
    margin-bottom: 18px;
}

.ht8 {
    height: 50px;
}


@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 850px;
    }
}

@media (max-width: 1366px) {
    .fullbox .col-form-label {
        font-size: 13px;
    }

    .ht8 {
        height: 36px;
    }

    .fullbox .form-control-plaintext {
        font-size: 13px;
    }

    .form-group.mb1 {
        margin-bottom: 17px;
    }
    /*.custm-md-8 {
        flex: 0 0 60%;
        max-width: 60%;
    }
   .custm-md-4 {
        flex: 0 0 40%;
        max-width: 40%;
    }*/
    .custm-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mb-cstm-0 {
        margin-bottom: 0px !important
    }
}





/*MEDIA QUERY START*/
@media (min-width: 320px) {
    .card-icon-wrapper {
        right: 8px;
        width: 35px;
        height: 35px;
    }
}


@media (min-width: 576px) {
    .col-form-label {
        text-align: right;
    }

    .topbar .dropdown {
        position: relative;
    }

        .topbar .dropdown .dropdown-menu {
            width: auto;
            right: 0;
        }

    .topbar .dropdown-list {
        width: 20rem !important;
    }

        .topbar .dropdown-list .dropdown-item .text-truncate {
            max-width: 13.375rem;
        }
}

@media (min-width: 768px) {

    .util-group {
        margin-top: -2rem;
    }

    .card-icon-wrapper {
        right: -13px;
        width: 45px;
        height: 45px;
    }

    .sidebar-toggled .sidebar .sidebar-brand-icon {
        display: block;
    }

    .page-headingBG .float-right {
        float: right !important;
    }

    .search-sec {
        flex-direction: row;
    }

    .pagination-sec {
        flex-direction: row;
    }

    .sidebar-toggled .collapse-item.active:before {
        display: none;
    }

    .sidebar {
        width: 18rem !important;
        background: #ffffff;
        box-shadow: 1px 0 30px rgb(0 0 0 / 9%);
        border-right: 1px solid #e4e7ed;
    }

    .log-togl {
        font-size: 1rem;
    }

    .sidebar .sidebar-brand-icon {
        line-height: 1.4rem;
        display: none;
    }

    .sidebar .nav-item .collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        animation: none;
    }

        .sidebar .nav-item .collapse .collapse-inner {
            border-radius: 0;
            box-shadow: none;
        }

    .sidebar .nav-item .collapsing {
        display: block;
        transition: height 0.15s ease;
    }

    .sidebar .nav-item .collapse,
    .sidebar .nav-item .collapsing {
        padding: 0 1rem;
    }

    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: .5rem 1rem;
        color: #54667a;
    }


        /*  .sidebar .nav-item .nav-link i 
        {
            font-size: 0.85rem;
            margin-right: 0.25rem;
            font-style: normal;
            width: 28px;
            line-height: 25px;
            font-size: 15px;
            display: inline-block;
            text-align: center;
               
        }*/

        .sidebar .nav-item .nav-link span {
            display: inline;
        }

        .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
            width: .5rem;
            line-height: 29px;
            font-weight: 900;
            content: '\f107';
            font-family: 'Font Awesome 5 Free';
            float: right;
        }

        .sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
            content: '\f105';
        }

    .sidebar .sidebar-brand .sidebar-brand-icon .header-logo {
        height: 58px;
    }

    .sidebar .sidebar-brand .sidebar-brand-icon i {
        font-size: 2rem;
    }

    .sidebar .sidebar-brand .sidebar-brand-icon
    .sidebar .sidebar-brand .sidebar-brand-text {
        display: flex;
        font-size: 2.8rem;
    }

    .sidebar-toggled .sidebar .sidebar-brand .sidebar-brand-text .header-logo {
        height: 40px;
        margin-top: 0.5rem;
    }

    .sidebar .sidebar-brand .sidebar-brand-text .header-logo {
        height: 64px;
        margin-top: 0rem;
        /* margin-right: 10px; */
    }

    .sidebar .sidebar-brand {
        /* height: 3.8rem; */
    }

    .logofont {
        font-size: 1.6rem;
    }

    .sidebar .sidebar-brand .sidebar-brand-text h1 {
        margin-top: 1.3rem;
    }

    .sidebar .sidebar-heading {
        text-align: left;
    }

    .sidebar.toggled {
        overflow: visible;
        width: 6.5rem !important;
    }

        .sidebar.toggled .sidebar-brand .sidebar-brand-text {
            display: none;
        }

    .sidebar-toggled .sidebar .sidebar-brand-icon {
        display: block;
    }

    .sidebar.toggled .nav-item .collapse {
        position: absolute;
        left: calc(6.5rem - .5rem + 1.5rem / 2);
        z-index: 1032;
        top: 2px;
        animation-name: growIn;
        animation-duration: 200ms;
        animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    }

        .sidebar.toggled .nav-item .collapse .collapse-inner {
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
            border-radius: 0.35rem;
            background-color: #fff;
        }

    .sidebar.toggled .nav-item .collapsing {
        display: none;
        transition: none;
    }

    .sidebar.toggled .nav-item .collapse,
    .sidebar.toggled .nav-item .collapsing {
        margin: 0;
    }

    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
    }

    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 6.5rem;
    }

        .sidebar.toggled .nav-item .nav-link span {
            font-size: 0.75rem;
            display: block;
        }

        .sidebar.toggled .nav-item .nav-link i {
            margin-right: 0;
        }

        .sidebar.toggled .nav-item .nav-link[data-toggle="collapse"]::after {
            display: none;
        }

    .sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
        font-size: 2rem;
    }

    .sidebar.toggled .sidebar-brand .sidebar-brand-text {
        display: block;
    }

    .sidebar.toggled .sidebar-heading {
        text-align: center;
    }

    .chart-area {
        height: 20rem;
    }

    .chart-pie {
        height: calc(20rem - 43px) !important;
    }

    .chart-bar {
        height: 20rem;
    }
}


@media (min-width: 320px) {
    .maintab ul li {
        margin-right: 0;
    }
}

@media (min-width: 768px) {

    .log-togl {
        font-size: 0.79rem;
        margin-left: 7px;
    }
}


@media (min-width: 992px) {

    .log-togl {
        font-size: 0.79rem;
        margin-left: 7px;
    }
}


@media (min-width: 1024px) {
    .sidebar {
        width: 17rem !important;
    }

    .log-togl {
        font-size: 0.9rem;
        margin-left: 15px;
    }
}

@media (min-width: 1366px) {


    .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
        width: .5rem;
    }

    .sidebar {
        width: 16rem !important;
    }
}





@media (min-width: 1920px) {
    .customizer {
        height: 20%;
        top: 7%;
        width: 260px;
        right: -265px;
    }
}

@media (max-width: 767.98px) {
    .sidebar .nav-item .collapse .collapse-inner {
        background-color: #fff;
    }

        .sidebar .nav-item .collapse .collapse-inner .collapse-item.active:before {
            display: none;
        }
}

@media (min-width: 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }

    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 0;
        top: 0px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: transparent
    }

        .dropdown-menu > li:hover > .submenu {
        }
}

.dropend .dropdown-toggle::after {
    all: unset;
    content: "\e946";
    position: absolute;
    right: 8px;
    font-family: icons;
    font-size: 0.8rem;
    top: 50%;
    transition: all ease-in-out 0.2s;
    transform: translateY(-50%);
}

.dropend .dropdown-toggle.show::after {
    transform: rotate( 90deg) translateY(106%) translateX(-48%);
    right: 0
}

.dropend .dropdown-menu[data-bs-popper] {
    left: 0rem;
    min-width: 4rem;
    right: 0;
    margin: 0;
    padding-left: 1rem !important;
}
