﻿@model Domain.Models.Input
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <h4>Fizz Buzz</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })        

            <div class="form-group">
                @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
   
    }
</div>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            
            var obj = {};
            obj.Number = $.trim($("#Number").val());                            
            $.ajax({
                type: "POST",
                url: "/ApiController/InputApi/Create",
                data: JSON.stringify(obj),
                contentType: "application/json",
                dataType: "json",

                success: function (response) {
                    alert(response);
                }                                
            });
        });
    });
</script>
