﻿@model Domain.Models.ResultVM
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Red{
        color:red;
    }
    .Green{
        color:green;
    }
    .Blue{
        color:blue;
    }
</style>

<div class="container body-content">
    <h4>Result</h4>
    <hr />
            <div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.ResultText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <span class=@Model.ResultClass>
                @Html.DisplayFor(model => model.ResultText)
            </span>
                    
        </div>
    </div>
    
        <div class="form-group">
            <div class="table-responsive" id="viewTable">
                    @if (Model.Results.Count > 0)
                    {
                        <table class="table table-bordered" id="ViewComponentsec">
                            <thead>
                                <tr>                                        
                                    <th>Numbers</th>                                        
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Results.Select((x, i) => new { Data = x, Index = i + 1 }))
                                {
                                    <tr>                                            
                                        <td>                                                
                                            @Html.DisplayFor(model=> item.Data)
                                        </td>                                            
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="norecord"> No Record Found</div>
                    }
            </div>
        </div>           
    </div>   

</div>
<script type="text/javascript">    
    $(document).ready(function () {                
        $('#ViewComponentsec').DataTable({
            "bStateSave": true,
            "bPaginate": true,
            "bFilter": false,
            "bInfo": false
        });
    });          
</script>